﻿@model FiverrIntelligense.Data.Models.TblFiverrGroup

<div class="row">
    <div class="col-md-12">
        <form id="frmAddGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group autocomplete has-feedback has-feedback-left">
                <label asp-for="GroupName" class="control-label">Group Name</label>
                <input id="txtGroupName" asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary btn-raised btn-block" />
            </div>
        </form>
    </div>
</div>

