﻿@model FiverrIntelligense.Data.Models.TblFiverrKeyword

<div class="row">
    <div class="col-md-12">
        <form asp-action="" id="frmAddKeyword">
            @*<div class="form-group">
                <label class="control-label">Select Group</label>
                <select id="dllKeywordGroup" class="form-control">
                    <option value="-1">Select Group</option>
                </select>
            </div>*@
            <div class="form-group autocomplete has-feedback has-feedback-left">
                <label asp-for="KeywordName" class="control-label">Keyword Name</label>
                <input id="txtKeywordName" asp-for="KeywordName" class="form-control" placeholder="Keyword Name" />
                <span asp-validation-for="KeywordName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary btn-raised btn-block" />
            </div>
        </form>
    </div>
</div>

