﻿
@{
    ViewData["Title"] = "Keyword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}
<h4 class="c-grey-900 mB-10">Manage Business Group/Keyword</h4>
<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-12">
        <div class="bd bgc-white">
            <div class="layers">
                <div class="layer w-100">
                    <h4 class="c-grey-900 mB-20 mL-20">Keyword</h4>
                    <hr />
                    <div class='container-fluid'>
                        <div class='navbar navbar-expand-lg navbar-light bg-white rounded' style="width:100%;">
                            <div class="collapse navbar-collapse justify-content-md-end">
                                <input type="button" class="btn cur-p btn-primary mL-10" style="float:right;" data-toggle="modal" data-target="#addGroupModel" value="Add Business Group" />
                            </div>
                        </div>
                        <div id="accordion">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addKeywordModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style=" margin-top: calc(25vh) !important; margin-left: calc(30%); min-width: calc(40%); min-height: calc(50vh); max-height: calc(50vh); ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Kwyword</h5>
                <hr style=" margin-top: 0; " />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_KeywordDetails")
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="editKeywordModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style=" margin-top: calc(25vh) !important; margin-left: calc(30%); min-width: calc(40%); min-height: calc(50vh); max-height: calc(50vh); ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Kwyword</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="txtEditKeywordId" class="form-control" />
                </div>
                <div class="form-group ui-widget">
                    <label class="control-label">Keyword Name</label>
                    <input id="txtEditKeywordName" class="form-control" placeholder="Keyword Name" />
                </div>
                <div class="form-group">
                    <input id="btnEditKeyword" type="button" value="Save" class="btn btn-primary btn-raised btn-block" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addGroupModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style=" margin-top: calc(25vh) !important; margin-left: calc(30%); min-width: calc(40%); min-height: calc(50vh); max-height: calc(50vh); ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_GroupDetails")
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var AllGroups = [];
        var AllKeywords = [];
    </script>
    <script src="~/MainJs/Autocomplete.js"></script>
    <script src="~/MainJs/keywords.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        /*display: inline-block;*/
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
