﻿@model IEnumerable<FiverrIntelligense.Data.Common.HistoryViewModel>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                S.No.
            </th>
            @*<th>
                Date
            </th>*@
            <th>
                Business Group
            </th>
            <th>
                Total Keywords
            </th>
            <th>
                New Orders Found
            </th>
            <th>
                New Sellers Found
            </th>
            <th>
                New Gigs Found
            </th>
            <th>
                No Of Changes In Gigs
            </th>
            <th>
                No Of Reviews Found
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.ToList().Count > 0)
        {
            int countTr = 0;
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ ++countTr;}
                        @countTr
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.BussinesGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalKeywords)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewOrdersFound)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewSellersFound)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewGigsFound)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoOfChangesInGigs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoOfReviewsFound)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" style="text-align:center;">
                    No Data Found.
                </td>
            </tr>
        }
    </tbody>
</table>
