﻿
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
}

@*<h4 class="c-grey-900 mB-10">Welcome</h4>*@
<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-12">
        <div class="bd bgc-white">
            <div class="layers">
                <div class="layer w-100">
                    <h4 class="c-grey-900 mL-20 mT-5">History</h4>
                    <hr class="mT-5 mB-5" />
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0 pB-0' style="width:100%;">
                        <div class="collapse navbar-collapse justify-content-md-end">
                            <input type="button" class="btn btn-primary" style="float:right;" value="Start/In-Process" />
                        </div>
                    </div>
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0' style="width:100%;">
                        <div class="collapse navbar-collapse">
                            <div class="ai-c" style="width:50%;">
                                <div style=" float: left; margin-right: 20px; ">Last Downloaded</div>
                                @*<input id="txtDwnldDate" type="date" class="form-control txtDwnldDate" value="" style="width: 40% !important;">*@
                                <b><div id="txtDwnldDate" class="ac-c mL-10"> NA</div></b>
                            </div>
                            <div class="" style="width:50%;">
                                <span style="float:right;">Monitoring <a href="javascript:void(0)"><span id="spnAllKeyword" class="spnAllKeyword">0</span> keywords </a>in <a href="javascript:void(0)"><span id="spnAllGroups" class="spnAllGroups">0</span> bussines groups</a></span>
                            </div>
                        </div>
                    </div>
                    <hr class="mT-5 mB-5" />
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0' style="width:100%;">
                        <div class="collapse navbar-collapse">
                            <div class="" style="width:60%;">
                                <label style=" float: left; margin-right: 20px; margin-top: 4px; ">Business Group :</label>
                                @Html.DropDownList("Group", new SelectList(ViewBag.AllGroups, "Value", "Text"), null, new { @id = "ddlBussinessGroup", @class = "form-control", @style = " width: 250px !important; ", @multiple = "multiple" })
                            </div>
                            <div class="" style="width: 40%;">
                                <div class="">
                                    <div class="peers ai-c gap-10">
                                        <div class="mR-10" style="float: right;">
                                            Select Your Date
                                        </div>
                                        <div class="peer" style="">
                                            <div id="reportrange" style="background: #fff;color:#000000; cursor: pointer;padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                                <i class="fa fa-calendar"></i>&nbsp;
                                                <span>May 6, 2020 - May 6, 2020</span> <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mT-5 mB-5" />

                    <div id="divMain" class='container-fluid mT-15' style="min-height:300px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/MainJs/History.js"></script>
}