﻿body {
}

/*Retail.Master CSS Start Here*/

.login-res-button {
    width: 90%;
    float: right;
    text-align: left;
    margin-top: -23px;
    margin-bottom: 5px;
}


.login-res-button-2 {
    width: 10%;
    height: 100px;
    float: left;
}

.login-res-button-3 {
    width: 90%;
    height: 100px;
    float: right;
}


.login-max-width {
    max-width: 1000px;
}

.login-main-container {
    display: block;
    float: left;
    width: 100%;
}

.main-top {
    width: 100%;
}

.login-logo {
    float: left;
    margin: 3px 0 0 4em;
}

.login-main-title {
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    word-wrap: break-word;
    color: Black;
    font-weight: bold;
    font-size: 14px;
    width:auto;
}
.toggaldiv {
    float: left;
    position: absolute;
    background: #000;
    top: 52px;
    width: 254px;
    padding-left: 10px;
    overflow: visible !important;
    visibility:hidden;
     z-index: 1;
}


.k-group {background-color:#fff !important;
}
.fa-bars{color: #fff;
    font-size: 30px !important;
    vertical-align: middle;
    cursor:pointer;
    float: left;
    margin-left:10px;
    margin-left: 45px;
}

    .login-main-title a {
        color: Black;
    }

        .login-main-title a:hover {
            color: Black;
        }

.login-right-top-menu {
    vertical-align: top;
    float: right;
}

.login-right-top-menu-1 {
    float: left;
    width: 250px;
    height: 40px;
    margin-right: 120px;
}

.login-Divcounter {
    float: right;
    color: White;
}

.login-SettingMenu {
    font-family: Arial;
    font-size: 16px;
    width: 100%;
    position: relative;
}

.login-SettingMenu-1 {
    background-color: #E8E4E1;
    color: Black;
    border: none;
    border-right: none;
    font-size: 14px;
    text-align: left;
    z-index: 99999;
    position: relative;
}

.login-SettingMenu-2 {
    float: right;
    width: 180px;
    z-index: 99999;
    position: relative;
}

.login-one {
    float: right;
    z-index: 99999px;
    position: relative;
}

.login-two {
    float: left;
    width: 120px;
    z-index: 99999px;
    position: relative;
}

.login-ActionsMenu {
    width: 120px;
    background-color: #E8E4E1;
    color: Black;
    border: none;
    border-right: none;
    font-size: 14px;
    z-index: 99999;
    position: relative;
}

.login-three {
    float: right;
    width: 110px;
    z-index: 99999;
}

.login-ReportMenu {
    background-color: #E8E4E1;
    color: Black;
    border: none;
    border-right: none;
    font-size: 14px;
    z-index: 99999;
    position: relative;
}

.login-hour {
    width: 198px;
}

.login-four {
    margin-top: 20px;
}

.login-comment {
    float: left;
    width: 60px;
}

.login-five {
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
}

.login-textarea {
    width: 193px;
    height: 40px;
}

.login-six {
    margin-top: 17px;
    float: right;
}

.login-btntimeLog {
    width: 80px;
    padding: 5px 0px;
    background-color: #2B6696;
    margin-right: 0px;
    text-align: center;
}

.login-btntimelogCnl {
    width: 80px;
    padding: 5px 0px;
    background-color: #2B6696;
    margin-right: 0px;
    text-align: center;
}

/*Dasbord.aspx CSS Start Here*/
.login-tabstripDashboard {
    float: left;
    width: 100%;
    text-align: left;
    vertical-align: top;
    margin: 0px;
    padding-top: 0px;
    border: none;
    overflow: inherit !important;
}

#commentstabstrip {
    float: left;
    width: 100%;
    text-align: left;
    vertical-align: top;
    margin: 0px;
    padding-top: 0px;
    border: none;
}

.login-DivAds {
    float: left;
    width: 100%;
    margin: 0px !important;
}

.login-seven {
    margin: 0 auto;
}

.login-eight {
    width: 99.6%;
    margin: auto;
}

.login-nine {
    margin: 20px auto !important;
    width: 100%;
    max-width: 865px;
}

.login-ten {
    margin-right: 10px;
    float: left;
}

.login-DetailGrid {
    width: 100%;
    float: left;
    margin-bottom: 25px;
}

.login-DivAdsRegular {
    float: left;
    width: 100%;
    margin: auto !important;
}
/*.main-top div {
float:left;
}*/
.filterName {
font-size:12px;
color:#fff;
}
.login-eleven {
}

.filter-date, .filter-Storename, .filter-Description, .filter-AccountID, #ddlSearch-Option, #ComboForRegMonth, #s8, #ddldate-filteroption {
    width: 146px;
    height: 25px;
    font-size: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding-left: 5px;
}
#Start-daterange, #Target-daterange {
    margin-left:5px;
}
#FilterBydate span, #FilterBystorenameandAccountID span, #FilterByAccountID span {
    font-size: 12px;
    margin-left: 5px;
    color: white;
}

#btn-startdaterange,#btn-targetdaterange {
    margin-left:10px !important;
}
#TxtStartdateFrom, #TxtTargetdateFrom,#TxtStartdateTo,#TxtTargetdateTo {
        width: 180px;
        margin-left: 5px;
}
#btn-filter {
    width: 117px;
    /*margin-left: 12px;*/
    background-color: dodgerblue;
    height: 25px;
    color: white;
    /*float: right;*/
    box-sizing: border-box;
    border: 2px solid #ccc;
}
#btn-filterclear {
    width: 117px;
    background-color: dodgerblue;
    height: 25px;
    color: white;
    /*float: right;*/
    box-sizing: border-box;
    border: 2px solid #ccc;
}
#TxtTargetdate, #TxtStartdate {
    margin-left:5px;
    width: 100px;
    font-size: 12px;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    padding-left: 5px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#FilterBystorenameandAccountID {
    float: left;
    margin-right: 5px;
    height: 27px;
}

#FilterByAccountID {
    float: left;
    margin-right: 10px;
}

#FilterBydate {
    float: left;
    width:27%;
}

.filter_by_month_buttons {
        float: left;
    width: auto;
    padding-left: 547px;
}

.main-head {
    background-color: #cccccc;
    background-image: linear-gradient(black, white);
    height: 110px;
}
#FilterBystorenameandAccountID .ui-dropdownchecklist-text {
        color: #515967 !important;
}
#FilterByDescription .ui-dropdownchecklist-text {
        color: #515967 !important;
}
.Search-in-regular {
    float: left;
    width: 500px;
}

.Search-Option, .Search-Option span {
    font-size: 12px;
    float: left;
    color:white;
}

#ddlSearch-Option {
    margin-left: 10px;
    height: 35px;
    width: 113px;
}

#SearchByJobnumber, #SearchByDescription, #SearchByStoreName {
    width: 279px;
    float: left;
    margin-left: 7px;
}

#btnSearchByJobnumber, #btnSearchByDescription, #btnSearchByStoreName {
    width: 70px !important;
}

#btnSearchByJobnumber, #btnSearchByDescription, #btnSearchByStoreName, #managebutton, #ExportWebscrapData, #btn-startdaterange, #btn-targetdaterange {
    margin-left: 0px;
    width: 100px;
    height: 25px;
    /*float: right;*/
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
}

#TxtSearchByJobnumber, #TxtSearchByDescription, #TxtSearchByStoreName {
    height: 25px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#ddcl-s8-ddw .ui-dropdownchecklist-dropcontainer.ui-widget-content {
    width: 175px;
    left: -5px;
    top: 20px;
}
#DivAdsHead {
    height:65px;
        background-color: #cccccc;
    background-image: linear-gradient(black, white);
}
    #DivAdsHead .login-seven {
        padding-top:1px;
    }
.login-ten .login-span-2 {
    color:white !important;
}
.webscrapes_filter_by_month .login-span-2 {
    color:white !important;
}
#dashbord-ten-two {
    
}

#dashbord-ten {
    width: 100% auto;
}

.login-twelve {
    width: 100%;
    margin-left: 0 !important;
        padding-top: 15px;
    padding-left: 10px;
}

.login-thirteen {
    width: 100%;
    float: none;
}

.login-selmonth {
    float: left;
}

.login-fourteen {
    width: 100%;
    float: left;
    margin-bottom: 25px;
}

.login-fifteen {
    float: left;
    width: 100%;
}

.login-DivOffcycle {
    float: left;
    width: 100%;
    margin: auto !important;
}

.login-sixteen {
    float: none;
    margin: 18px auto 5px;
    width: 262px;
}

.login-seventeen {
    float: left;
    font-family: Arial;
    font-size: 14px;
    line-height: 26px;
    margin-right: 6px;
    margin-top: 4px;
}

.login-DivOffCal {
    font-size: 12px;
}

.login-eighteen {
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-bottom: 25px;
}

.login-nineteen {
    font-size: 16px;
    float: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-DivNoAdsFound {
    float: left;
    margin-bottom: 5px;
    margin-right: 20px;
}

.login-DivScreenShot {
    float: left;
    margin-bottom: 5px;
    margin-right: 7px;
}

.login-twenty {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    vertical-align: top;
    float: left;
}

.login-Unprocessed {
    font-size: 16px;
    float: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-twenty-one {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    vertical-align: top;
    float: left;
}

.login-already {
    font-size: 16px;
    float: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-show-search {
    margin-bottom: 10px;
    margin-right: 30px;
    float: right;
}

.login-twenty-two {
    float: right;
    margin-top: -31px;
}

.login-show-contant {
    margin-left: 0px;
    padding-top: 6px;
    display: none;
}

.login-filtext {
    width: 325px;
    font-size: 12px;
    font-family: tahoma;
    color: #434343;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    height: 18px;
    text-indent: 3px;
}

.login-twenty-third {
    margin-bottom: -22px;
    margin-left: -20px;
}

.login-checkstatus {
    margin-left: 315px;
    margin-bottom: 33px;
}

.login-DivTotalnoAdsoff {
    display: none;
}

.login-twenty-fourth {
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-bottom: 25px;
}

.login-NewStyle {
    width: 100%;
    height: 40px;
    background-color: White;
    border-bottom: 1px solid #EAEAEC;
}

.login-NewStyle-1 {
    width: auto;
    height: 39px;
    float: left;
    background-color: #ECEDF1;
    border-right: 1px solid Gray;
    border-bottom: 1px solid #EAEAEC;
}

.login-NewStyle-Calender {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 10px;
}

.login-NewStyle-Details {
    width: 7%;
    height: auto;
    float: left;
}

.login-NewStyle-2 {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #EAEAEC;
    float: left;
    margin-top: 0px;
}

.login-NewStyle-Textarea {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-weight: normal;
    font-size: 12px;
    resize: none;
    border: none;
    height: auto;
    width: 85%;
    margin-left: 10px;
    color: #6D6E6E;
    max-height: 100px;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-bottom: 10px;
}

.login-NewStyle-3 {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10px;
    border-top: 1px solid #EAEAEC;
}

.login-NewStyle-4 {
    width: 91.4%;
    height: 210px;
    float: left;
    overflow: auto;
    position: relative;
}

.login-NewStyle-5 {
    width: 96%;
    float: left;
    text-align: left;
    font-size: 11px;
}

.login-NewStyle-6 {
    min-width: 400px;
    height: 150px;
    float: left;
}

.login-NewStyle-7 {
    width: 100%;
    height: 130px;
    float: left;
}





/*font style effects*/

.social {
    width: 30px;
    height: 30px;
    background-image: url('Images/Icon/detailspage_icons/6.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    text-indent: -9999px;
}

    .social:hover {
        background-image: url('Images/Icon/detailspage_icons/7.png');
        background-repeat: no-repeat;
    }


.textarea-setting {
    width: 100%;
    height: 50px;
}

.three-icon {
    float: right;
    background-color: White;
    margin-left: 5px;
    padding-top: 3px;
}



@media screen and (max-width:1250px) {
    .three-icon {
        float: left;
        margin-left: 5px;
        background-color: White;
    }
}

@media screen and (max-width:1000px) {
    .three-icon {
        float: right;
        margin-left: 5px;
        background-color: White;
    }
}

@media screen and (max-width:1024px) {
    .three-icon {
        float: right;
        margin-left: 5px;
        background-color: White;
    }
}

@media screen and (max-width:1260px) {
    .three-icon {
        float: right;
        margin-left: 5px;
        background-color: White;
    }
}

@media screen and (max-width:1100px) {
    .textarea-setting {
        width: 72%;
        height: 50px;
    }

    .login-res-button {
        width: auto;
        float: right;
        margin-right: 74px;
        margin-top: -30px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width:1101px) and (max-width:1199px) {
    .textarea-setting {
        width: 80%;
        height: 50px;
    }

    .login-res-button {
        width: auto;
        float: right;
        margin-right: 65px;
        margin-top: -30px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:940px) {
.k-menu .k-item, .k-widget.k-menu-horizontal > .k-item{background-color:#000;}

.k-menu .k-item > .k-link {
   
    color: #d9d9d9 !important;
}
@media screen and (min-width:1200px) and (max-width:1349px) {
    .textarea-setting {
        width: 87%;
        height: 50px;
    }

    .login-res-button {
        width: auto;
        float: right;
        margin-right: 40px;
        margin-top: -30px;
        margin-bottom: 5px;
    }
}




@media screen and (min-width:1350px) {
    .textarea-setting {
        width: 95%;
        height: 50px;
    }

    .login-res-button {
        width: auto;
        float: right;
        margin-right: -9px;
        margin-top: -30px;
        margin-bottom: 5px;
    }
}

.input-text-selectslip {
    font-family: Arial;
    color: #515967;
    font-size: 14px;
}

#Dropoption {
    width: 150px;
    font-family: Arial;
    color: #515967;
}

#HtmComcoProject {
    width: 150px;
    color: #515967;
}

.three-icon {
    float: left;
    background-color: White;
    margin-left: 5px;
    padding-top: 3px;
}

@media screen and (min-width:700px) and (max-width:1250px) {
    .three-icon {
        float: right;
        background-color: White;
        margin-left: 5px;
        padding-top: 3px;
    }
}

.tooltip-block:hover:after {
    border: 1px solid #fc0;
    padding: 3px 6px;
    background: #fffea1;
    content: attr(data-title);
    position: absolute;
    right: -40px;
    top: -26px;
    cursor: pointer;
    vertical-align: top;
}


.btnforexportexcel {
    -moz-box-shadow: inset 0px 1px 4px -22px #ffffff !important;
    -webkit-box-shadow: inset 0px 1px 4px -22px #ffffff !important;
    box-shadow: inset 0px 1px 4px -22px #ffffff !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf)) !important;
    background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
    background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
    background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
    background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0) !important;
    background-color: #ededed !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #dcdcdc;
    display: inline-block !important;
    cursor: pointer !important;
    color: #000000 !important;
    font-family: Arial !important;
    font-size: 12px !important;
    padding: 2px 10px !important;
    text-decoration: none !important;
    text-shadow: 0px -1px 2px #ffffff !important;
    line-height: 18px !important;
    font-weight: normal !important;
    margin: 0 10px 0 0 !important;
}

    .btnforexportexcel:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed)) !important;
        background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
        background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
        background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
        background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
        background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0) !important;
        background-color: #dfdfdf !important;
    }

    .btnforexportexcel:active {
        position: relative;
        top: 1px;
    }

#DivOtherTask td {
    border-bottom: 1px solid gray;
}


.cycle-slideshow {
    width: 80%;
    margin: 0px auto;
}

    .cycle-slideshow img {
        margin-top: 35px !important;
        width: 98%;
    }

#DivforSlidScreenshot {
    background: #fff !important;
    position: relative;
}

#custom-pager {
    margin-top: 10px;
}

    #custom-pager strong a {
        font-size: 14px;
        font-weight: normal !important;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        font-family: Arial;
        text-align: center !important;
        background: #333 !important;
        padding: 2px 4px;
        margin: 0 2px 0 0 !important;
        color: #fff !important;
        text-decoration: none;
    }

    #custom-pager strong.cycle-pager-active a {
        font-weight: normal !important;
        background: #dbdbdb !important;
        color: #000 !important;
        text-decoration: none;
    }

/*-----added 12 Aug 2015------*/
@media screen and (max-width:850px) {
    #ctl00_ContentMain_RadComboStatus {
        margin-bottom: 10px;
    }

    #ctl00_ContentMain_RadComboStoreName {
        margin-bottom: 10px;
    }

    .login-ten .k-datepicker {
        margin-bottom: 10px;
        float: left;
    }

    .dashbord-1 {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    .login-selmonth {
        margin-left: 0px;
    }

    .login-fourteen {
        margin-top: 0px !important;
    }
}

@media screen and (max-width:780px) {
    .login-right-top-menu {
        width: 100%;
        margin-top: 20px;
        float: left;
    }

    .master1 {
        float: left !important;
        width: 21%;
        margin-left: 0%;
        margin-right: 0px !important;
    }

    .login-SettingMenu-2 {
        width: 25%;
    }

    .login-one {
        width: 50%;
    }

    .login-two {
        width: 50%;
    }

    .login-three {
        width: 50%;
    }
}

@media screen and (max-width:455px) {
    .master1 {
        float: none !important;
        margin: -10px 0 10px 12px !important;
        width: auto !important;
    }

    .login-SettingMenu-2 {
        width: 40% !important;
    }

    .login-one {
        width: 60% !important;
        float: left !important;
    }

    .k-pager-sizes {
        padding: 0 17px 0 0;
        margin-top: 10px;
        float: left;
    }
}

@media screen and (max-width:415px) {
    .k-tabstrip-items .k-link {
        padding: .5em .4em !important;
        font-size: 11.4px;
    }

    .k-tabstrip .k-content {
        margin: 0 0 .3em 0em !important;
    }
}

@media screen and (max-width:500px) {
    #ExportWebscrapData {
        margin: 7px 0 0 0 !important;
    }
}

@media screen and (max-width:1010px) {
    .login-nineteen {
        width: 100%;
    }

    .float-right {
        margin-bottom: 10px;
        float: none !important;
    }
}

#ctl00_ContentMain_RadComboOffcycleAds {
    margin-right: 10px;
}

@media screen and (max-width:1275px) {
    .login-filtext {
        width: auto;
        min-width: 200px;
    }
}

.hoversocialurlImg-3 {
    float: right !important;
}

#checkstatus {
    margin-bottom: 5px;
}

.login-filtext {
    margin-bottom: 5px;
}

colgroup col { /*width:135px !important ; */
}

@media screen and (max-width:746px) {
    .asana-responsive {
        margin-top: 15px !important;
        width: 100% !important;
    }

    #tabstripDashboard {
        width: 100% !important;
    }
}

.k-overlay {
    z-index: 99999 !important;
}
/*div.k-window{ max-width:940px !important; width:96% !important; margin:0 auto !important;}*/
div.k-window-content {
    height: 100% !important;
    padding: 0px !important;
}

@media screen and (max-width:625px) {
    #prev img {
        left: 2px !important;
        width: 30px !important;
        height: 30px !important;
    }

    #next img {
        right: 2px !important;
        width: 30px !important;
        height: 30px !important;
    }
}

.ads_filter {
    float: left;
}

@media screen and (max-width:575px) {
    .ads_filter {
        float: none !important;
        margin: 0 auto 10px !important;
        max-width: 360px !important;
    }
}

@media screen and (max-width:365px) {
    .ads_filter {
        float: left !important;
        margin: 0 auto 10px !important;
        max-width: 175px !important;
    }
}

#ddcl-s7 {
    display: block !important;
    float: left;
}

#DivInviteUser {
    height: auto !important;
    width: 525px !important;
    margin: -36px auto 0;
    border-color: rgba(0, 0, 0, 0.3);
}

#AllcontentforInviteUser { /*margin-top:-36px;*/
}
/*#Departmentgrid colgroup col:nth-child(1){ width:30px !important;}*/
#Departmentgrid colgroup col {
    width: 375px !important;
}

.setimage {
    left: 50% !important;
    top: 50% !important;
    position: absolute;
    transform: translate(-50%,-50%) !important;
}
