﻿#contioner { width:902px; margin:0px auto; overflow:hidden; background-color:#ccc; }
.first-heading { width:1024px; height:40px; background-color:#e1e1e1; }

.first-heading h2 { margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; padding:7px 10px;}

.box-1{ width:550px; height:500px; background-color:#eee; float:left;}
.heading-1 { float:left; margin:10px 0px 0px 20px;}
.text-label-1 { float:left; width:114px; }

.text-label-1 p { font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#515967;}

.text-label-2 { float:left; width:114px; }

.text-label-2 p { font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#515967;}

.text-label-3 { float:left; width:85px; }

.text-label-3 p { font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#515967;}

.text-label-4 { float:left; width:150px; }

.text-label { float:left; }

.text-label p { font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#515967;}

.input-text { float:left;margin-left:26px;}

.input-btn {  padding:8px; margin-top:0px; width:315px; border-radius:5px; border:1px solid #ccc;}

.box-2{ width:434px; height:500px;  float:left; background-color:#eee; }

.heading-1-div { float:left; }
.heading-2-div { float:left; width:400px; height:50px; }
.heading-innder { float:left; width:137px;  height:50px; }

.heading-inn-1 { float:left; width:250px;  height:50px;}

.put-bt { background-color:#4297CD; padding:10px 20px; color:#fff; border:none;border-radius:5px; cursor:pointer;   }

.input-btn-1 {
padding: 8px;
margin-top: 10px;
width: 275px;
border-radius: 5px;
border: 1px solid #ccc;
}
.input-btn-2 {
padding: 8px;
margin-top: 10px;
width: 275px;
border-radius: 5px;
border: 1px solid #ccc;
}

.input-btn-3 {
padding: 8px;
margin-top: 10px;
width: 253px;
border-radius: 5px;
border: 1px solid #ccc;
}
.input-check-3 {
margin:16px 0px 0px 4px;
}
