﻿@charset "UTF-8";

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	margin:0;
	padding:0;
}

html {
	font-size:100%;
}

body {
	/*font-family:calibri;*/
}

.clr{ clear:both; }
.wrap{/* max-width:960px;*/ width:98%; margin:0 auto; padding:0px;}
.content{  margin:0px;float: left;width: 98%;}
.marico_date_cont{ margin:0 0 10px 0;}
.marico_date_cont label{ float:left; color:#333; font-weight:bold; text-align:right; margin:0 10px 0 0;}

/*--- Price Report page Css ---*/
.price_report_cont{ min-height:300px; background:#fff; max-width:970px; width: 98%; /*margin:30px auto 20px;*/ border:1px solid #ddd; box-shadow: 0 1px 5px #ddd;}
.price_report_cont h3{border-bottom: 1px solid #ccc; font-size:16px; background:#f3f3f5; padding:8px 10px; color:#505050; margin:0px; font-weight:bold;}
.price_report_cont h3 span{ font-weight:normal;}
.price_report_cont_block{ width:96%; margin:30px auto 0;}
.export_button{
	font-size: 12px;
	float:right;
    border: 1px solid #114D97;
    background-color: #3a8ed9;
    color:#fff !important;
    text-shadow: 0 -1px #114d97;
    padding: 4px 8px !important;
    border-radius:3px !important;
    cursor:pointer;font-weight: 600 !important;
    margin:0 0 8px 0; height:auto !important; font-family:Arial !important;
	    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}
.export_button:hover{
    background-color: #1f8dd6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74C1ED), color-stop(100%, #1F8DD6)) !important;
    background-image: -moz-linear-gradient(90deg, #1F8DD6 0%, #74C1ED) !important;
    background-image: -ms-linear-gradient(90deg, #1F8DD6 0%, #74C1ED) !important;
}

.tc{ text-align:center !important;}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%; 
	margin:0 0 30px 0;	
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; 
}
.bordered  tr{background:#dedede;}
.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #919191;
    border-top: 1px solid #919191;
    padding: 10px;
    text-align: left;    
}
.bordered tbody{ overflow-x:auto;}
.bordered tbody td{ min-width:120px; padding:0 !important; text-align:center;}
.bordered tbody td.product_name{ padding:0 10px !important;  text-align:left;}
.bordered tbody td p{ padding:10px; margin:0px;}
.bordered tbody td p a{ text-decoration:none; color:#0878c0;}
.bordered tbody td p a:hover{ color:#e80000;}
.bordered tbody td h4{ font-weight:normal; padding:10px; background:#fff !important; border-top:1px solid #919191; margin:0px;}
.bordered tbody td h4 a{ text-decoration:none; color:#0878c0;}
.bordered tbody td h4 a:hover{ color:#e80000;}
.bordered th {
    background-color: #0878c0;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(0,0,0,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
@media screen and (max-width: 500px) {
	.bordered {
		overflow-x: auto;
		display: block;
		-webkit-overflow-scrolling: touch; 
	}
}

/*--- Popup Table Css ---*/
.popup_table{/*width: auto; max-width:300px;*/ margin:20px auto; border: solid #ccc 1px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; }
.popup_table td{ padding:10px !important; color:#5e5e5e;}
.popup_table th {
    background-color: #0878c0;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.5); 
}
.popup_table tr:nth-child(odd){ background:#dedede;}
.popup_table td:first-child, .popup_table th:first-child {
    border-left: none;
}
.popup_table td, .popup_table th {
    border-left: 1px solid #919191;
    border-top: 1px solid #919191;
    padding: 10px;
    text-align: left;    
}

/*--- First window Page css ---*/
.first_window_cont{ margin:20px 0;}

.first_window_cont_row{ margin:0 0 20px 0; max-width: 258px;}
.first_window_cont_row label{font-size: 17px; float:left; text-align:right; color:#6e6e6e; margin:3px 15px 0 0;}
/*.first_window_cont_row input{width: 98%; max-width: 150px; float:left; padding:5px; background:#e8e4e1; border:1px solid #c7c7c7;}*/
.data_block ul{ float:left; list-style:none outside; margin:5px 0 0 13px; padding:0px;}
.data_block ul li{background-image:url("/Images/Icon/NewIcons/bulletmarico.png"); background-position:left center; background-repeat:no-repeat; margin:0 0 10px 0; padding:0 0 0 15px; }
.data_block ul li a{font-size: 15px; color:#4d4d4f; font-weight:normal; text-decoration:none; display:block; padding-right:35px;  }
.data_block ul li a:hover{ color:#ee5416;}
.data_block ul li a.alert{ background-image:url("/Images/Icon/NewIcons/alertmarico.png"); background-position:right center; background-repeat:no-repeat;}
.first_window_cont_left{ float:left; width:25%; margin:0 5% 0 0;}


/*---- 27 Oct 2015 ----*/
.data_block{ background:#eaeaec; border:1px solid #cbcbcb; max-width:207px;margin-left: 47px; width:98%;}
.data_block h3{ color:#ee5416; font-size: 17px; background:#fff; margin:0px; padding:10px; border-bottom:3px solid #757575;}
.first_window_cont_right{ float:left; width:70%;}
.first_window_cont_right h4{ margin:0 0 8px 0; padding:0px; color:#4e4e4e; font-weight:normal;}
.first_window_cont_right td p{ color:#4e4e4e;}
.first_window_cont_right td h4{ color:#000000;}
.first_window_cont_right h4 span{ color:#d40001; font-weight:bold;}
.first_window_cont_right h2{ padding: 5px 10px; background:#e8e4e1; margin:20px 0; font-size:34px; color:#074166; text-transform:uppercase; font-weight:normal;}
@media screen and (max-width: 555px) {
	.first_window_cont_left{ float:none; width:auto !important; margin: 0 5% 30px 0;}
	.first_window_cont_right{ float:none; width:98% !important;}
}
.BulletImg tr {background-image:url("/Images/Icon/NewIcons/bulletmarico.png"); background-position:left center; background-repeat:no-repeat; margin:0 0 10px 0; padding:0 0 0 15px; }
