﻿@charset "UTF-8";

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	margin:0;
	padding:0;
}

html {
	font-size:100%;
}

body {
	/*font-family:calibri;*/
}

.clr{ clear:both; }
.wrap{ max-width:960px; width:98%; margin:0 auto;  padding: 180px 0 0;}
.content{  margin:0px;}

.logo{padding:20px 20px 15px; border-bottom: 1px solid #ccc;}
.report_title{margin: 1px 0 20px; padding:10px 20px; background:#f1f1f1; color:#333; }
.report_title h3{ text-shadow:1px 1px 1px #fff; font-weight:bold; font-family:calibri; font-size:21px; /*text-align:left;padding-right: 132px;*/ margin:0 0 10px 0; }
.report_title p{ margin:0px; padding:0px !important; font-weight:normal;font-family:calibri; font-size:16px;}
.timesheet_report_cont{ min-height:300px; background:#fff; max-width:970px; width: 98%; margin:30px auto 20px; border:1px solid #ddd; box-shadow: 0 1px 5px #ddd;}
.timesheet_report_cont p{font-size: 17px; padding:0 20px;}
.timesheet_report_cont p span{ font-weight:bold;}
.section_staff{ margin:30px 0 0px 0; padding:0 20px;}
.section_staff h3{ background: #f3f3f3 none repeat scroll 0 0; margin:0px 0 15px 0; color:#0878c0; font-weight:bold; padding:6px; font-size: 21px; }
.section_staff .left_table{float:left; width:48%;}
.section_staff .graph{float:right; width:48%; max-width:326px;}
.section_staff .graph img{ width:100%;}
.section_staff .graph2{ width:98%; max-width:376px; margin:0 auto;}
.section_staff .graph2 img{ width:100%;}

.timesheet_report_cont_block{ margin:30px auto 0; padding:0 20px;}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%; 
	margin:0 0 40px 0;	
}

.timesheet_tbl {
    border: solid #ccc 1px;
}
.timesheet_tbl  tr{background:#eee;}
.timesheet_tbl tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    

	.timesheet_tbl td, .timesheet_tbl th {
    border-left: 1px solid #919191;
    border-top: 1px solid #919191;
    padding: 10px;
    text-align: left;    
}
.timesheet_tbl tbody td:last-child, .timesheet_tbl thead th:last-child { width:170px;}
.timesheet_tbl tbody{ overflow-x:auto;}
.timesheet_tbl tbody td{ min-width:90px; padding:6px 10px !important; font-size: 13px;}
.timesheet_tbl tbody td.first_col{ color: #0878c0; font-weight: bold; padding: 0 10px !important; width:175px; text-align: left;}
.timesheet_tbl tbody td p{ padding:5px; margin:0px;}
.timesheet_tbl tbody td p a{ text-decoration:none; color:#0878c0;}
.timesheet_tbl tbody td p a:hover{ color:#e80000;}
.timesheet_tbl tbody td h4{ font-weight:normal; padding:10px; background:#fff !important; border-top:1px solid #919191; margin:0px;}
.timesheet_tbl tbody td h4 a{ text-decoration:none; color:#0878c0;}
.timesheet_tbl tbody td h4 a:hover{ color:#e80000;}
.timesheet_tbl th {
	padding: 6px 10px; font-size:20px;
    background-color: #0878c0;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(0,0,0,.5); 
}

.timesheet_tbl td:first-child, .timesheet_tbl th:first-child {
    border-left: none;
}

.timesheet_tbl th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.timesheet_tbl tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.timesheet_tbl tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
@media screen and (max-width: 500px) {
	.timesheet_tbl {
		overflow-x: auto;
		display: block;
		-webkit-overflow-scrolling: touch; 
	}
}
.timesheet_report_cont_block h3{ background: #f3f3f3 none repeat scroll 0 0; margin:0px 0 15px 0; color:#0878c0; font-weight:bold; padding:6px; }
.timesheet_report_cont_block h4{ margin: 15px 0 10px;font-weight: bold;font-size: 16px;padding: 5px 0;}
.footer{ text-align:center; background:#333; padding:20px; color:#fff; font-size:15px; font-family:calibri;}
.footer a{ text-decoration:none; color:#f9be00;}


