﻿.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: #29d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}

.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -10px;
    width: 35px;
    height: 35px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 10px;
    margin-left: -10px;
    width: 10px;
    height: 10px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

/*#preload_page_cont {
    opacity: 0;
}

#preload_page_cont {
                    -webkit-transform: opacity 0.5s ease;
                    -moz-transform: opacity 0.5s ease;
                    -o-transform: opacity 0.5s ease;
                    -ms-transform: opacity 0.5s ease;
                    transform: opacity 0.5s ease;
}

body.pace-running #preload_page_cont {
    opacity: 0;
}
body.pace-done #preload_page_cont {
    opacity: 1;
}

body.loaded .pace {
  display: none !important;
}
*/
.preload2{ display:none;position: fixed; 
     left: 56%; 
     top: 0; 
     z-index: 9997; 
     width: 44% !important; background:#fff; height:100%; }
.preloader2  
{
     display:none;
     position: fixed; 
     left: 56%; 
     top: 0; 
     z-index: 9997; 
     width: 44%;
     height: 100%; 
     overflow: visible; 
     background: #fff url('../images/loader.gif') no-repeat center center; 
 }