﻿.Main {
     width: 100%;
     margin-top:20px;
}
#tblUsers {
    width:100%;
}
    #tblUsers tr i {
        margin-left:10px;
    }
.modal-body span {
    font-size:medium;
}


.tblUsers th{padding:7px; color:#fff;}

    .tblUsers thead {
        background-color: #0090a5 !important;
    }

    .tblUsers tbody tr {
        height: 30px;
        padding: 10px;
    }

    .tblUsers tbody td {
        margin-left: 10px;
        width: auto;
        padding: 10px;
    }

    .tblUsers tbody tr:nth-child(2n+1) {
        background-color: #f5f5f5;
    }

.Main {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}
.Edit {
    color: grey;
    margin-left: 10px;
    cursor: pointer;
}
.CustomPopup {
    padding-top:200px;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    overflow: auto;
    display: none;
}
.modal-header h4 {
    float:left;
}
.modal-body li {
    padding-bottom:50px;
}
.modal-body span {
    width:150px !important;
    float:left;
    text-align:left;
}
.modal-body input {
    width:350px !important;
    height:25px !important;
    float:left;
    text-align:left;
}

.modal-body select {
    width:350px !important;
    height:25px !important;
    float:left;
    text-align:left;
}

.modal-header{
    height:50px !important;
    background-color:#0090a5 !important;
}
#lbl_password, #lbl_NewPassword, #lbl_ConfirmPassword {
    font-size:small;
    color:red;
    text-align: left;
    margin-left: 150px;
}