﻿#selectdate {
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}
.seldate {
    width:125px;
    padding-left: 5px;
}
.Main {
    width: 100%;
}

#tblWorkinghours {
    width: 100%;
    padding-top: 10px;
}
#tblWorkinghours th{padding:7px; color:#fff;}
.tblWorkinghours thead {
    height:15px;
    background-color: #0090a5 !important;
}

.tblWorkinghours tbody tr {
    height: 30px;
    padding: 10px;
}

.tblWorkinghours tbody td {
    margin-left: 10px;
    width: auto;
    padding: 10px;
}

    .tblWorkinghours tbody td:nth-child(1) {
        width: 15%;
    }
    .tblWorkinghours tbody td:nth-child(2) {
        width: 40%;
    }
.tblWorkinghours tbody tr:nth-child(2n+1) {
    background-color: #f5f5f5;
}

.Main {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

#plus {
    color: green;
    margin-left: 10px;
    cursor: pointer;
}

#minus {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

#imgStartdate,#imgEnddate,#imgdate {
    vertical-align: top;
    margin-top:5px;
    margin-left: 5px;
    margin-right: 15px;
    background-color: black;
    width:20px;
    height:20px;
}
#Selectdate {
    margin-left:5px;
    }
#btnSumbit{
    width:150px;
    height:30px;
    text-align:center;
    background-color: #0090a5 !important;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
#btnExport {
    width:150px;
    height:30px;
    text-align:center;
    background-color: #0090a5 !important;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.CustomPopup {
    padding-top:200px;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    overflow: auto;
    display: none;
}
.modal-header h4 {
    float:left;
}

#board {
    width:160px;
    height:25px;
}

#boarduser {
    width:160px;
    height:25px;
}