﻿.ClientDetail {
    float: none;
    height: 25px;
    margin: 0 auto;
    max-width: 350px;
    width: 95%;
}

.ClientDetailborder {
    width: 350px;
    float: left;
    height: 25px;
    border: 1px solid red;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #007fff;
        color: white;
    }
    .k-grid td{font-size:13px;}
.fa-pencil-square-o{font-size:14px !important;}
.fa-trash-o{font-size:14px !important;}