﻿.Accountdetail {
    float: none;
    height: 25px;
    margin: 0 auto;
    max-width: 350px;
    width: 95%;
}

.Accountdetailborder {
    width: 350px;
    float: left;
    height: 25px;
    border: 1px solid red;
}

.k-grid td{font-size:13px;}
.fa-pencil-square-o{font-size:14px !important;}
.fa-trash-o{font-size:14px !important;}