﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        #KeywordsProgressBars th {
            width: 30%;
            text-align: right;
        }

        #KeywordsProgressBars td:nth-child(1) {
            width: 60%;
        }

        #KeywordsProgressBars td:nth-child(2) {
            width: 60%;
        }

        #KeywordsProgressBars td:nth-child(3) {
            width: 10%;
        }

        #KeywordsProgressBars th, #KeywordsProgressBars td {
            padding: 0.25rem;
        }
    </style>
}

@*<h4 class="c-grey-900 mB-10">Welcome In live Status</h4>*@
<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-12">
        <div class="bd bgc-white">
            <div class="layers">
                <div class="layer w-100">
                    <h4 class="c-grey-900 mL-20 mT-5">Status</h4>
                    <hr class="mT-5 mB-5" />
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0 pB-0' style="width:100%;">
                        <div class="ai-c" style="float:left;width:50%;">
                            <div style=" float: left; margin-right: 20px; ">Last Downloaded:</div>
                            @*<input id="txtDwnldDate" type="date" class="form-control txtDwnldDate" value="" style="width: 40% !important;">*@
                            <b><span id="txtDwnldDate" class="ac-c mL-10"> NA</span></b>
                        </div>
                        <div class="collapse navbar-collapse justify-content-md-end" style="float:right;">
                            <input type="button" id="btnStartInProgress" class="btn btn-primary" style="float:right;" value="Start" />
                        </div>
                    </div>
                    @*<hr class="mT-5 mB-5" />
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0 pB-0' style="width:100%;">
                        <div class="collapse navbar-collapse justify-content-md-start">
                            <p style="margin: 0;">Processing Business Group: <span id="spnIndexGroup">1</span>/<span id="spnTotalGroup">2</span><span class="mL-30" id="spnCurrentGroup" style="font-weight: 800;">Instagram</span></p>
                        </div>
                    </div>*@
                    <hr class="mT-5 mB-5" />
                    <div class="navbar navbar-expand-lg navbar-light bg-white rounded pT-0 pB-0" style="width:100%;">
                        <div class="" style="width:50%;float:left;">
                            <div id="" style="width:50%;margin-left:25%;">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand"><div class=""></div></div>
                                    <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
                                </div>
                                <canvas id="keywordBarChart" width="250" height="250" class="chartjs-render-monitor" style="display: block; width: 250px; height: 250px;"></canvas>
                            </div>
                            <div id="keywordStatus" style="width:100%;text-align: center;">
                                <span style="font-weight:600">Keywords: </span><span></span><span class="mL-30" style="font-weight: 800;display:none;">Instagram</span>
                            </div>
                        </div>
                        <div class="" style="width:50%;float:right;padding-left:10%;padding-right:10%;">
                            <div style="text-align:center;">Total Gigs: <span id="spnTotalGigs">0</span></div>
                            <div class="progress">
                                <div id="animationProgress" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    <span id="current-progress">0%</span>
                                </div>
                            </div>
                            <div style="text-align:center;"><span id="spnProgressCount">0/0</span> Complete</div>
                        </div>
                    </div>
                    <hr class="mT-5 mB-5  " />
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0 pB-0 mT-10' style="width:100%;">
                        
                        <div class="mT-5" style="min-width:60%;max-height:500px;margin-left:20%;" id="">
                            <h5 style=" text-align: center; ">Running status of all keywords</h5>
                            <table id="KeywordsProgressBars" class="" style="width:100%">
                                <tr>
                                    <td colspan="3" style="text-align: center;">No Data Found.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnKeywordIds" value="@httpContextAccessor.HttpContext.Session.GetString("KeywordIds")" />
<input type="hidden" id="hdnIsKeywordRunning" value="@httpContextAccessor.HttpContext.Session.GetString("isKeywordRunning")" />
<input type="hidden" id="hdnIsKeywordCompleted" value="@httpContextAccessor.HttpContext.Session.GetString("isKeywordCompleted")" />

@section scripts{
    <script src="~/MainJs/Charts/utils.js"></script>
    <script src="https://cdn.rawgit.com/emn178/Chart.PieceLabel.js/master/build/Chart.PieceLabel.min.js"></script>
    <script src="~/MainJs/Status.js"></script>
}
