﻿@model FiverrIntelligense.Models.ForgetPasswordViewModel

    <div class="panel-body">
        <div class="text-center mt-20 mb-30 ">
            @*<i class="icon icon-unlocked2 icon-3x"></i>*@
            <h3 class="no-margin text-bold">Password Recovery</h3>
            <p id="headerForgetPassword" class="text-muted">Enter the email address associated with your account.</p>
        </div>
        <div id="ForEmailVerifyRequest">
            <div class="form-group has-feedback has-feedback-left">
                <input id="txtEmail" type="email" class="form-control" placeholder="Email Address" required />
                <div class="form-control-feedback">
                    <i class="ti-email"></i>
                </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input id="btnSendOtp" type="button" class="btn btn-primary btn-raised btn-block" value="Send OTP" />
            </div>
        </div>
        <div id="ForEmailVerify" style="display:none;">
            <div class="form-group has-feedback has-feedback-left">
                <input id="txtOtp" type="text" class="form-control" placeholder="Enter Otp" />
                <div class="form-control-feedback">
                    <i class=""></i>
                </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input id="btnVerifyOtp" type="button" class="btn btn-primary btn-raised btn-block" value="Verify" />
            </div>
        </div>
        <div id="ForNewPassword" style="display:none;">
            <form asp-action="ForgetPassword" method="post">
                <input id="txtForgtEmail" type="hidden" asp-for="EmailForget" class="form-control" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group has-feedback has-feedback-left">
                    <input asp-for="ForgotPassword" class="form-control" placeholder="Password" />
                    <span asp-validation-for="ForgotPassword" class="text-danger"></span>
                    <div class="form-control-feedback">
                        <i class="ti-lock"></i>
                    </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <input asp-for="ComfirmForgotPassword" class="form-control"  placeholder="Confirm Password"/>
                    <span asp-validation-for="ComfirmForgotPassword" class="text-danger"></span>
                    <div class="form-control-feedback">
                        <i class="ti-lock"></i>
                    </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <input type="submit" value="Save" class="btn btn-primary btn-raised btn-block" />
                </div>
            </form>
        </div>
        <div class="content-divider text-muted form-group"><span>Already have an account?</span></div>
        <a href="/Account/Index" class="btn btn-default btn-raised btn-block" style="border: 2px solid #dddddd;">Login</a>
    </div>

<script type="text/javascript">
    $(function () {
        $('#headerForgetPassword').text('Enter the email address associated with your account.');
        $('#btnSendOtp').click(function () {
            if ($('#txtEmail').val().trim() == "") {
                alert('Enter Email.');
                return false;
            }
            $.get('/Account/SendOtp', { emailId: $('#txtEmail').val().trim() }, function (data) {
                if (data == 'Otp sent.') {
                    $('#ForEmailVerifyRequest').hide();
                    $('#ForEmailVerify').show();
                    $('#headerForgetPassword').text('Enter OTP sent in Email.');
                }
                else {
                    alert(data);
                }
            });
        });
        $('#btnVerifyOtp').click(function () {
            if ($('#txtOtp').val().trim() == "") {
                alert('Enter otp.');
                return false;
            }
            $.get('/Account/VerifyOtp', { emailId: $('#txtEmail').val().trim(), otp: $('#txtOtp').val() }, function (data) {
                if (data == 'Success') {
                    $('#ForEmailVerifyRequest').hide();
                    $('#ForEmailVerify').hide();
                    $('#ForNewPassword').show();
                    $('#txtForgtEmail').val($('#txtEmail').val());
                }
                else {
                    alert(data);
                }
            });
        });
    });
</script>