﻿@model FiverrIntelligense.Models.LoginViewModel

    <form asp-action="Login" method="post" id="fromLogin" novalidate>

        <div class="text-center mt-20 mb-30 ">
            <i class="ti-user" style="font-size:65px"></i>
            <h3 class="no-margin text-bold">Account Login</h3>
            <p class="text-muted">Enter your login credentials below</p>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group has-feedback has-feedback-left">
            @*<label class="text-normal text-dark">Username</label>*@
            <input asp-for="LoginEmail" type="email" class="form-control" placeholder="Email" required>
            <span asp-validation-for="LoginEmail" class="text-danger"></span>
            <div class="form-control-feedback">
                <i class="ti-email"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            @*<label class="text-normal text-dark">Password</label>*@
            <input asp-for="LoginPassword" type="password" class="form-control" placeholder="Password" required>
            <span asp-validation-for="LoginPassword" class="text-danger"></span>
            <div class="form-control-feedback">
                <i class="ti-lock"></i>
            </div>
        </div>
        <div class="form-group login-options">
            <div class="row">
                <div class="col-sm-6">
                    <label class="checkbox-inline">
                        <div class="checker" style="margin-top: -8px;"><div class="checker"><span class="checked"><input type="checkbox" name="remember" class="styled" checked="checked"></span></div></div>
                        Stay signed in
                    </label>
                </div>

                <div class="col-sm-6 text-right">
                    @Html.ActionLink("Forget Password?", "ForgetPassword", "Account")
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-raised btn-block btn-ladda login-spinner" data-style="zoom-out"><span class="ladda-label">Sign In <i class="ti-arrow-circle-right"></i></span></button>
        </div>

        <div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>

        <a href="/Account/Register" class="btn btn-default btn-raised btn-block" style="border: 2px solid #dddddd;">Register</a>
    </form>
<script type="text/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('fromLogin');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script>
