﻿@model FiverrIntelligense.Models.RegistrationViewModel

<form id="frmRegister" asp-action="Register" method="post" class="">

    <div class="text-center mt-20 mb-30">
        <i class="ti-user" style="font-size:65px"></i>
        <h3 class="no-margin text-bold">Create an Account</h3>
        <p class="text-muted">It only takes a few seconds to create your account.</p>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group has-feedback has-feedback-left">
        @*<label class="text-normal text-dark">Email Address</label>*@
        <input type="text" asp-for="FName" class="form-control" Placeholder='First Name' required>
        <span asp-validation-for="FName" class="text-danger"></span>
        <div class="form-control-feedback">
            <i class="ti-user"></i>
        </div>
    </div>
    <div class="form-group has-feedback has-feedback-left">
        @*<label class="text-normal text-dark">Email Address</label>*@
        <input type="text" asp-for="LName" class="form-control" Placeholder='Last Name'>
        <div class="form-control-feedback">
            <i class="ti-user"></i>
        </div>
    </div>
    <div class="form-group has-feedback has-feedback-left">
        @*<label class="text-normal text-dark">Email Address</label>*@
        <input type="email" asp-for="Email" class="form-control" Placeholder='Email Address' required>
        <div class="form-control-feedback">
            <i class="ti-email"></i>
        </div>
    </div>
    <div class="form-group has-feedback has-feedback-left">
        @*<label class="text-normal text-dark">Password</label>*@
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="form-control-feedback">
            <i class="ti-lock"></i>
        </div>
    </div>
    <div class="form-group has-feedback has-feedback-left">
        @*<label class="text-normal text-dark">Confirm Password</label>*@
        <input type="password" asp-for="ConfirmPassWord" class="form-control" placeholder="Confirm Password" required>
        <span asp-validation-for="ConfirmPassWord" class="text-danger"></span>
        <div class="form-control-feedback">
            <i class="ti-lock"></i>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-raised btn-block btn-ladda register-spinner" data-style="zoom-out"><span class="ladda-label">Register <i class="ti-arrow-circle-right"></i></span></button>
    </div>
    <div class="content-divider text-muted form-group"><span>Already have an account?</span></div>
    <a href="/Account/Index" class="btn btn-default btn-raised btn-block" style="border: 2px solid #dddddd;">Login</a>
</form>
<script type="text/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('frmRegister');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script>