﻿@model FiverrIntelligense.Models.VerifyMailViewModel

<form id="frmEmailVerification" asp-action="EmailVerification" method="post">
    <div class="text-center mt-20 mb-30">
        @*<i class="icon icon-user-plus icon-3x"></i>*@
        <h3 class="no-margin text-bold">Verify Email</h3>
        @*<p class="text-muted">Enter OTP Sent In Mail</p>*@
    <p class="text-muted">Please click on the link or input verification code below that has just been sent to your email account.</p>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <input id="txtUserEmail" type="hidden" asp-for="UserEmail" value="@ViewBag.Email" class="form-control" placeholder="Email Address" />
    </div>
    <div class="form-group">
        <input asp-for="VerifyCode" class="form-control" placeholder="Verification Code" required />
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <input type="submit" value="Verify" class="btn btn-primary btn-raised btn-block" />
            </div>
            <div class="col-sm-6">
                <input id="btnResend" type="button" value="Resend" class="btn btn-primary btn-raised btn-block" />
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    window.addEventListener('load', function () {
        var form = document.getElementById('frmEmailVerification');
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    }, false);

    $(document).ready(function () {

        $('#btnResend').on('click', function () {
            $.get("/account/SendOtp", { emailId: $('#txtUserEmail').val() }, function (data) {
                if (data !== 'success') {
                    toastr.success("OTP Sent in Mail.");
                }
                else {
                    toastr.error(data);
                }
            });
        });
    })
</script>