﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailVerification</title>
    <center>

        <h2>Your E-mail is verified. </h2>
        @Html.ActionLink("Click", "Index", "Account") to login.
    </center>
</head>
<body>
</body>
</html>
