body{ font-family:calibri;}
.clr{ clear:both;}


.profile_wrap{ max-width:1912px; margin:0 auto; width:100%;}
.profile_cont{ margin:0px; padding:25px 0 0;}
.profile_cont_toprow{ position: relative; margin:0 0 25px 0;}
.profile_cont_toprow_left{ max-width:1130px; width:61%; float:left; position:relative;}
.profile_info{ float:left; width: 222px; }
.profile_info_welcome_sec{ background:#69a21d; padding:20px; box-sizing:border-box; }
.profile_info_welcome_sec h3{ color:#fff; font-weight:bold; font-size:34px; margin:0 0 15px 0; padding:0px; text-align:center;}
.display_pic{ max-width:130px; max-height:130px; text-align:center; position:relative; margin:0 auto 10px;}
.display_pic #ProfileImage{  padding: 0px;
    border-radius: 50%;
     display:block;
    width:100%;  object-fit: cover;}
.display_pic a{ max-width:30px; position:absolute; right:5px; bottom:5px;}
.mem_detail{ margin:0px; text-align:center;}
.mem_detail h4{  margin: 0 0 5px; color:#fff; font-weight:bold; font-size:18px;}
.mem_detail h4 a{ margin-left:5px; display:inline-block;}
.mem_detail h4 a img{ max-width:18px;}
.mem_detail h5{color:#fff; font-weight:normal; font-size:14px; margin:0 0 10px 0;}
a.change_pass{ margin: 15px 0 0; text-decoration:none; text-align:center; color:#fff; font-weight:bold; font-size:14px; display:block;}
a.change_pass:hover{ text-decoration:underline;}
.perc{ color: #fff !important;
    display: block;
    font-size: 55px !important;
    font-weight: bold !important;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);}
.perc label{ font-size: 15px !important;
    line-height: 20px !important;
    position: absolute;
    right: 26%;
    text-align: right;
    top: 61%;}

.profile_info_active_percent_sec{ background:#2791d3; padding:20px; box-sizing:border-box;}
.goalProgress {
	background: #fff;border-radius: 10px;
	padding: 0; text-align: left;
}
.bar_loader{ margin:30px 0 0 0;}
.bar_loader h4{ font-weight:normal; font-size:15px; margin:0 0 5px 0; text-align:center; color:#fff;}
div.progressBar {
	background: #999; text-indent: -9999px; max-width: 100% !important;
	color: #fff; line-height: 6px;
	font-size: 14px;
	letter-spacing: -1px;
	font-weight: bold;
	padding: 0px;
	display: block;
	overflow: hidden;
	width: 20px; border-radius: 10px 0 0 10px;
}


span.goalAmount {
	display: none;
	text-indent: -9999px;
}

.mytodolist{ text-align: left; border:2px solid #e8e8e8; border-left:none !important; position:absolute; left:222px; right:0; bottom:0px; top:0px;}
.mytodolist h3{ font-weight:bold; font-size:20px; text-align:center; color:#333; margin: 20px 0 32px;}
.mytodolist ul{ list-style: outside none none; margin: 0; max-height: 87.5%; overflow-y: auto; overflow-x: hidden; padding: 0 15px; position: absolute;
    bottom: 0; top:72px;
    right: 0;
    left: 0;}
.mytodolist ul li{ padding: 0 0 6px; border-bottom:1px solid #e8e8e8; margin: 0 0 30px;}
.mytodolist ul li:last-child{ border-bottom:none;}
.mytodolist ul li .board_detail{width:45%; float:left;}
.mytodolist ul li .board_detail h5{ line-height: 16px;
    margin: 0px;
    padding-right: 10px;
    font-weight: normal;
    font-size: 15px;
    color: #444;
    width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;}
.mytodolist ul li .board_detail p{margin: 0px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #333;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.mytodolist ul li .bar{  text-align:center; width:31%; float:left;}
.mytodolist ul li .bar img{ width:100%; max-width:133px;}
.mytodolist ul li .date{ text-align:center; width:19%; float:left; font-weight:normal; font-size:15px; color:#444;}
.mytodolist ul li .play{float: right; max-width:20px; text-align:right; width:5%;}
.mytodolist ul li .play a img{ width:100%; margin: 2px 0 0; max-width: 13px;}

.profile_cont_toprow_right{ width:37%; float:right; position:absolute; right:0; top:0; bottom:0; border:2px solid #e8e8e8;}
.profile_cont_toprow_right h3{ font-weight:bold; font-size:20px; text-align:center; color:#333; margin: 20px 0 32px;}
.profile_cont_toprow_right ul{ list-style: outside none none; margin: 0; max-height: 87.5%; overflow-y: auto; padding: 0 15px; position: absolute;
    bottom: 0; top:72px;
    right: 0;
    left: 0;}
.profile_cont_toprow_right ul li{  padding: 0 0 6px; border-bottom:1px solid #e8e8e8; margin: 0 0 30px;}
.profile_cont_toprow_right ul li:last-child{ border-bottom:0px;}
.profile_cont_toprow_right ul li .user_det{ float:left; width:30%;}
.profile_cont_toprow_right ul li .user_det img{ float: left;height: 25px;
    width: 25px;
    margin-right: 4px;
        object-fit: cover;
    border-radius: 50%;}
.profile_cont_toprow_right ul li .user_det h3{    text-align: left;
    font-weight: bold;
    color: #444;
    line-height: 16px;
    font-size: 14px;
    margin: 0px 0 0 0;
    padding: 0px;
    float: left;
    width: 75%;
    /* word-wrap: break-word; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}
.profile_cont_toprow_right ul li .user_det p{text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 96px;display: inline-block;float: left;}
.profile_cont_toprow_right ul li .message_para{ float:left; width:44%;}
.profile_cont_toprow_right ul li .message_para p{    word-wrap: break-word !important; line-height: 16px; text-align:left; font-size:15px; color:#444; margin:0px; padding:0px;}
.profile_cont_toprow_right ul li .msgdate{ text-align:right; float:right; width:20%;}
.profile_cont_toprow_right ul li .msgdate p{ line-height: 16px; text-align:right; margin:0px; font-size:15px; color:#444;}
.profile_cont_toprow_right ul li .msgdate h4{line-height: 15px; text-align:right; margin:0px;font-size:13px; color:#444; font-weight:bold;}
.reply_icon{position:relative; width:6%; float:right; margin:3px 0 0 0; text-align:right;}
.reply_icon img{ max-width:20px;}

.reply_icon_pop{ display:none; z-index:999; position:absolute; background:#eee; border:1px solid #ccc; border-radius:5px; padding:10px; box-shadow: -4px 5px 8px -5px #000; right:0px; top:22px;}
 
.reply_icon_pop textarea{ background:#fff; border-radius:5px; resize:none; padding:5px; height:60px; width:200px; margin:0 0 10px 0;}
.reply_icon_pop .submit_button{ background: #32d62c;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 3px 5px;
    border: 1px solid #14b50e;
    cursor: pointer;
    border-radius: 4px;}

.profile_cont_bottomrow{ margin:0 0 40px 0; position:relative;}
.profile_cont_bottomrow .top_five_board{ float: left; min-height: 340px; border:2px solid #e8e8e8; left:0; top:0; bottom:0; width:32%;}
.profile_cont_bottomrow .top_five_board h3{ font-weight:bold; font-size:20px; text-align:center; color:#333; margin: 20px 0 32px;}
.profile_cont_bottomrow .top_five_board ul{ list-style: outside none none; margin: 0; max-height: 87.5%; overflow-y: auto; padding: 0 15px;}
.profile_cont_bottomrow .top_five_board ul li{ padding: 0 0 15px; border-bottom:1px solid #e8e8e8; margin: 0 0 20px;}
.profile_cont_bottomrow .top_five_board ul li:last-child{margin: 0 0 10px; border-bottom:0px;}
.profile_cont_bottomrow .top_five_board ul li .boardname{ float:left; width:50%;}
.profile_cont_bottomrow .top_five_board ul li .boardname h3{text-align: left;font-weight: bold;color: #444;line-height: 18px; font-size: 16px;margin: 1px 0 0 0;padding: 0px;white-space: nowrap;width: 130px;float: left;text-overflow: ellipsis;overflow: hidden;}
.profile_cont_bottomrow .top_five_board ul li .boardname p{}
.profile_cont_bottomrow .top_five_board ul li .iconlist{ float:right; width:49%;}
.profile_cont_bottomrow .top_five_board ul li .iconlist .iconset{min-width: 40px; font-size: 18px; line-height: 20px; float:right; margin-left:5px; text-align:left;}
.profile_cont_bottomrow .top_five_board ul li .iconlist .star_icn{ min-width:auto !important;}
.profile_cont_bottomrow .top_five_board ul li .iconlist .iconset img{margin: 0 2px 0 0; display:inline; max-height: 15px; max-width: 15px;}
.profile_cont_bottomrow .top_five_board ul li .iconlist .iconset p{ display:inline; font-weight:bold; margin:0 0 0 0px; font-size:14px; color:#444;}

.profile_cont_bottomrow .recnt_attach{border:2px solid #e8e8e8; position:absolute; left:34%; top:0; bottom:0; width:32%;}
.profile_cont_bottomrow .recnt_attach h3{ font-weight:bold; font-size:20px; text-align:center; color:#333; margin: 20px 0 32px;}
.profile_cont_bottomrow .recnt_attach ul{ list-style: outside none none; margin: 0; max-height: 74.5%; overflow-y: auto; padding: 0 15px;}
.profile_cont_bottomrow .recnt_attach ul li{ padding: 0 0 6px; border-bottom:1px solid #e8e8e8; margin: 0 0 20px;}
.profile_cont_bottomrow .recnt_attach ul li:last-child{margin: 0 0 10px; border-bottom:0px;}
.profile_cont_bottomrow .recnt_attach ul li .boardname{ float:left; width:41%; padding-right:2%;}
.profile_cont_bottomrow .recnt_attach ul li .boardname h3{text-align: left;
    font-weight: bold;
    color: #444;
    line-height: 16px;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 111px;
    float: left;
    white-space: nowrap;
    display: inline-block;}
.profile_cont_bottomrow .recnt_attach ul li .boardname p{text-align: left; display: inline-block;text-overflow: ellipsis;white-space: nowrap;width: 120px;overflow: hidden;padding: 0px !important;margin: 0px !important;float: left;}
.profile_cont_bottomrow .recnt_attach ul li .user_det{ float:left;}
.profile_cont_bottomrow .recnt_attach ul li .user_det img{width: 25px; height:25px; float:left; object-fit: cover; margin-right:4px; border-radius: 50%}
.profile_cont_bottomrow .recnt_attach ul li .dwnld_icon{ float: left; text-align: right; width: 10%;}
.profile_cont_bottomrow .recnt_attach ul li .dwnld_icon img{ margin-right: 0; margin-top: 2px; max-width: 17px; text-align: right;}
.profile_cont_bottomrow .recnt_attach ul li .file_name{    text-align: left;float: left;width: 37%;line-height: 18px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.profile_cont_bottomrow .graph{border:2px solid #e8e8e8; position:absolute; right:0; top:0; bottom:0; width:32%;}
.profile_cont_bottomrow .graph img{ width:100%; height:100%;}

@media all and (max-width: 880px) {
	.profile_cont_toprow_left { width:100%;}
	.profile_cont_toprow_right { box-sizing: border-box; margin: 20px 0 0; position: initial; width: 100%;}	
	.profile_cont_toprow_right ul{max-height: 300px; position:static;}
	.profile_cont_bottomrow .top_five_board { border: 2px solid #e8e8e8; box-sizing: border-box; float: left; width: 100%;}
	.profile_cont_bottomrow .recnt_attach { border: 2px solid #e8e8e8; box-sizing: border-box;float: right; margin: 20px 0 0; position: initial; width: 100%;}	
	.profile_cont_bottomrow .recnt_attach ul{ max-height: 229px;}
	.profile_cont_bottomrow .graph { position:initial; width:100%; margin:20px 0 0 0;}
}
@media all and (max-width: 560px) {
    .mytodolist ul{ position:static;}    
	.profile_info { float: none; position: relative; width: 100%;}
	.profile_info_welcome_sec { float: left; padding: 20px; width: 50%;}
	.profile_info_active_percent_sec { bottom: 0; left: 50%; position: absolute; top: 0; width: 50%;}
	.mytodolist { position:static; max-height:300px; overflow-y:auto;}
}

@media all and (max-width: 455px) {
        .profile_info_welcome_sec { width: 100%;}
        .profile_info_active_percent_sec {  position: static; float: left; width: 100%;}
        .profile_cont_bottomrow .top_five_board ul li .boardname { float: left; width: 100%; margin: 0 0 5px 0;}
        .profile_cont_bottomrow .top_five_board ul li .iconlist { width:auto; float: left;}
}

.image-upload label{ cursor:pointer; max-width:30px; position:absolute; right:5px; bottom:5px;}
.image-upload input[type="file"]
{
    display: none;
}

h3.chngpop_heading{    margin: -5px 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ddd;}
.chng_formcontent_row{ margin:0 0 10px 0;}
.chng_formcontent_row label{min-width: 138px; float: left; text-align: right;}
.ChangePassBox{ font-size: 13px; padding: 0 4px; float: right; width: 100%; max-width:195px;}
.chng_formcontent input[type="button"]{ cursor:pointer; background: #32d62c !important;
    float: right;
    text-align: center;
    color: #fff;
    padding: 4px 8px;
    border-radius: 0px;
    border: 1px solid #57af54;}
.chng_formcontent input[type="button"]:hover{ background:#57af54 !important;}
#ChangeMsg, #ErrorMsg{ margin: 0 0 5px 0; float: right; text-align: left; max-width: 255px;width: 100%;}

#mylistappend .goalProgress{ background:#ddd !important;}
#container .highcharts-container{
    width: 427px;
    
    }

.highcharts-credits{ display:none;}
#tabs{ border:none !important; }
#tabs .ui-widget-content{ border:none !important;}
#tabs ul{position:absolute; right:10px; z-index:999;top: 8px }
#tabs ul li{ float:left;}
#tabs ul li a{ font-size:13px; padding:2px 4px;}
#tabs ul li a:hover{ border:none !important;}
.highcharts-title{ font-family: calibri; font-weight: bold;}
/*.ab{ border:1px solid #ddd;}
.ab > div{ border:1px solid #ddd;}*/