.headerPart{text-align:center;}
.modal-content123{max-width:630px;}
.modal-header123{background-color:#0090a5;color:#fff;border-radius: 4px 4px 0px 0px;border-bottom: 0px;}
.modal-header123 h3{border-bottom: 0px solid #ddd;
    padding: 15px 0 15px 0;
    margin: 0;
    font-size: 18px;}
#exx{    max-width: 670px;}
.modal-body123{color:#fff; padding: 0px;width:100%;}
.param{display: inline-block;float:left;}
.part1{    background-color: #3c3c3c;
    width: 30%;
    line-height: 12px;
    padding: 8px 0px;}
.part1 img{    padding: 0px 14px 0px 15px;
    margin: 0px 0 0 0;
    vertical-align: sub;}
.part2{background-color: #cccccc;padding: 9px 5px 10px 5px;width: 30%;}
.part2 input{background-color: #fff;width: 72%;border-radius: 4px;border: 0px;line-height: 24px;}
.part2 button{border-radius: 4px;border: none;margin: 0 0 0 5px;background-color:#717576;}
.partfile{display: inline-block;float:left;}
.partfile p{padding: 0px 0 0 0;    color: #333;
    display: inline-block;
    margin: 0px 0 0px 0;
    line-height: 38px;
    vertical-align: 8px;}
.part3{      background-color: #ebebeb;
    width: 40%;
    padding: 5px 0px 0px 5px;
    line-height: 31px;}
.partinput{background-image: url(img/Calendar.png);background-repeat: no-repeat;background-position: 95% 50%;background-size: 16px 16px;}
.partexport{width:34%;}
.partcurrent{    width: 36%;}
.partall{width:30%;}
.partfile img{    padding: 4px 2px 0 0;
    display: inline-block;}

.effort_table_section{max-height: 226px;height: 226px;overflow-x: hidden;float: left;width: 100%;}
.modal-footer123{padding: 0px;text-align: right;border-top: 0px solid #e5e5e5;}

.effort_table{font-family: arial, sans-serif;border-collapse: collapse;width: 100%;}
.effort_th{ background-color:#3c3c3c;color:#fff;text-align: left;padding: 10px;}
.effort_td{border: 1px solid #cdcdcd;text-align: left;padding: 8px;}
.effort_tr:nth-child(even) {background-color: #dddddd;}
