﻿.Date_filter {
    width: 100%;
    height: 50px;
    background: #353535;
}

.Date_filter_left span {
    font-weight: bold;
    color: white;
    margin-left: 10px;
    margin-top: 19px !important;
    display: inline-block;
}

.Date_filter_left input {
    margin-left: 10px;
    vertical-align: bottom;
}

.Date_filter_left img {
    margin-left: 5px;
}

.Date_filter_left {
    margin-left: 350px;
    float: left;
}

.search-btn {
    height: 100%;
    width: 250px;
    float: right;
    background: #0090a5 url(/Styles/BoardReport/images/list-view-search.png) no-repeat;
    border: 0px;
    outline: 0px;
    padding: 11px 46px;
    color: #fff;
    background-size: 15px;
    font-size: 16px;
    background-position: 27px 16px;
}

.top-header {
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

    .top-header h3 {
        font-size: 20px;
        float: left;
    }

.Cards_count_grid {
    margin-top: 10px;
    width: 100%;
}

    .Cards_count_grid thead {
        background-color: #0090a5 !important;
    }

    .Cards_count_grid tbody tr {
        height: 30px;
        padding: 10px;
    }

    .Cards_count_grid tbody td {
        margin-left: 10px;
        width: auto;
        padding: 10px;
    }

    .Cards_count_grid tbody tr:nth-child(2n+1) {
        background-color: #f5f5f5;
    }

.grid {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
}

.imgdate {
    vertical-align: top;
    margin-top: 10px;
}
