﻿#Expirience {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


.modal {
            width: inherit !important;
            margin: 0px 0px;
            background: transparent !important;
            max-width: inherit !important;
            box-shadow: none !important;
            overflow:auto;
        }
        .CustomPopup {
            position: fixed;
            z-index: 1;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background: rgba(0,0,0,0.5);
            overflow: auto;
            display:none;
        }
        .modal .modal-dialog{ margin-top:50px !important;}
         .CustomPopup .modal-dialog{ margin-top:60px !important;

         }
