﻿.new-form-ui1 label, .new-form-ui1 {
    width: 100%;
}

.right-over-border td {
    padding: 10px;
}

.division textarea {
    width: 100%;
    border: 0px;
    background: 0px;
    border-bottom: solid 1px #000;
    resize: none;
    margin-bottom: 20px;
    height: 44px;
    -webkit-appearance: none;
}

    .division textarea:focus {
        outline: 0px;
        box-shadow: none;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }

.right-block-data {
    margin-top: 20px;
}

.new-form-ui1-submit input[type="button"] {
    width: 163px !important;
    margin-top: 20px !important;
    clear: both;
}

.logo-latest {
    width: 130px;
    float: left;
}

.form-edit, .form-add {
    margin-left: 93px;
    float: left;
}

    .form-edit label, .form-add label {
        margin-left: 5px;
        text-decoration: underline;
    }

