﻿::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
    font-size: 12px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-size: 12px;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
}

#KRQuart,#GTHQuart,#GoalQuart{
    padding-left: 56px;
}

.modal.in .modal-dialog {
    transform: translate(0,50%) !important;
    -webkit-transform: translate(0,50%) !important;
}

#BtnTask{
    background: #23b9f6;
    margin-top: 11px;
    margin-left: -80px;
    padding-top: 3px;
    height: 66%;
    padding-right: 10px !important;

}

#cmt th:nth-child(3) {
    width: 40px;
    text-align: center;
}

.RatingBtn{
    padding: 8px 14px;
    background-color: darkgray;
    color: white;
    height: 42px;
    width: 20%;
    float:right;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#Avgtrid {
    background-color: lightseagreen;
    font-weight:bold;
}

#TotRatingtrid{
    background-color: #f76e1e;
    font-weight:bold;
}

#BindData{
    font-family:Arial;
}

#cmt td:nth-child(2) {
    text-align: left !important;
}

#cmt th:nth-child(2) {
    text-align: left !important;
}

#cmt td:nth-child(3) {
    width: 40px;
    text-align: center;
}

#cmt tr:nth-child(odd) {
    background: #fff;
}

#cmt tr:nth-child(even) {
    background: #f7f7f7;
}
/*.modal-body {padding:0px !important;
}*/
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    font-size: 12px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.hrm-box ul {
    margin: 0px;
    padding: 0px;
}

.hrm-strip {
    width: 100%;
    background: #0090a5;
    padding: 8px;
    float: left;
}

.hrm-strip-text-cntnr {
    float: right;
}

    .hrm-strip-text-cntnr span {
        font-size: 15px;
        color: #fff;
        margin-right: 5px;
        font-weight: normal;
        float: left;
    }

.hrm-strip span {
    margin-right: 5px;
    float: left;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
}

#Description #txtAreaDesc {
    width: 100%;
    height: 25%;
}

.hrm-strip-text-cntnr label {
    margin-right: 20px;
    float: left;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 0px;
    cursor: pointer;
}

.hrm-box {
    float: left;
    margin-top: 30px;
    height: 150px;
    width: 100%;
}

.full-percant {
    float: left;
    width: 100%;
}

    .full-percant input[type="text"] {
        width: 70% !important;
    }

.tblclass {
    width: 100%;
    display: inline-block;
}

    .tblclass span {
        display: inline !important;
    }

    .tblclass input {
        width: 60% !important;
    }

.modelfclass input[type="submit"], .modelfclass button {
    background: #0090a5;
    color: #fff;
}

.tblclass tbody {
    width: 100%;
    float: left;
}

    .tblclass tbody tr {
        width: 100%;
        float: left;
    }

.tblclass .width-100 {
    float: left !important;
}

#AddClient {
    text-align: left;
}

.tblclass {
    margin: 0px;
}

.hrm-strip-text-cntnr img {
    width: 20px;
}

.hrm-box .emp-info {
    background: #e8e8e8;
    padding: 5px;
    float: left;
    width: 103%;
}

   .img-space {
    height: auto;
    }
    #imgphoto, #Changeimgphoto {
    /*transform: translateX(-100%) rotate(-90deg);*/
    transform-origin: top right;
    /*margin-left: 28px;*/
    }

    .hrm-box .emp-info img {
        width: 50px;
        height:50px;
        border-radius: 1000px !important;
        float: left;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        /*transform: translateX(-100%) rotate(-90deg);*/
        transform-origin: top right;
    }

    .hrm-box .emp-info .rgt-info {
        float: left;
        margin-left: 20px;
        text-align: left;
    }

        .hrm-box .emp-info .rgt-info span {
            font-weight: 600;
            font-size: 13px;
            color: #3c3c3c;
            margin-bottom: 0px;
            display: block;
        }

        .hrm-box .emp-info .rgt-info label {
            color: #3b3b3b;
            font-size: 13px;
            font-weight: normal;
            padding-left: 0px;
            margin-bottom: 0px;
        }

        .hrm-box .emp-info .rgt-info p {
            color: #a1a1a1;
            font-weight: normal;
            font-size: 13px;
            clear: both;
            margin-bottom: 0px;
        }

.hrm-box ul {
    background: #f9f9f9;
    padding: 10px;
    float: left;
    width: 100%;
}

    .hrm-box ul li .fa {
        font-size: 12px;
    }

    .hrm-box ul li span {
        font-size: 13px;
        margin-left: 20px;
        color: #535353;
        font-weight: normal;
    }

.table-wrap-add-emp .division {
    width: 40%;
    float: left;
    margin-right: 20px;
    height: 70px;
}

.table-wrap-add-emp fieldset {
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
}

.table-wrap-add-emp tr:nth-child(3) fieldset {
    border-bottom: 0px;
}

.table-wrap-add-emp .division label {
    display: block;
    margin-left: 8px;
}

.table-wrap-add-emp .division textarea {
    width: 80%;
}

.table-wrap-add-emp .division select {
    width: 80% !important;
}

.table-wrap-add-emp {
    width: 100%;
}

    .table-wrap-add-emp legend {
        border: 0px;
    }

    .table-wrap-add-emp .new-form-ui-submit input[type="button"] {
        width: 32% !important;
    }

.form-wrap-add-emp {
    width: 100%;
    float: left;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.hrm-box ul li {
    list-style: none;
    line-height: 22px;
    text-align: left;
}

.hrm-search-wrap input[type="text"] {
    background: #f5f5f5;
    border-radius: 20px;
    width: 140px;
    /*float: right;*/
    border: solid 1px #545454;
    margin: 10px 0px;
    padding: 6px;
    background: url(../Images/HRM/images/search.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% 6px;
}

.hrm-search-wrap select {
    margin: 10px 0px;
    padding: 6px;
    border-radius: 20px;
    border: solid 1px #545454;
}

    .hrm-search-wrap select:focus {
        outline: 0px;
    }

.hrm-search-wrap input[type="text"]:focus {
    outline: 0px;
}

.hrm-search-wrap span {
    float: left;
    vertical-align: middle;
    margin: 13px 0px;
    font-size: 18px;
    font-weight: 700;
}

.modal-header {
    padding: 0px !important;
    border-bottom: 0px !important;
}

.full-percent select {
    width: 80% !important;
    font-weight: normal;
    margin-top: 5px;
}

.full-percent input {
    width: 80% !important;
    font-weight: normal;
    margin-top: 5px;
}

.head th {
    background: #23b9f6 !important;
}

.full-percent td {
    font-weight: bold !important;
    height: 67px;
    width: auto;
}

.modal-footer {
    clear: both;
}

.modal-body {
    padding: 15px;
    width: 95%;
    margin: auto;
    display: block;
    float: none;
}

.txtbold {
    font-weight: bold;
}

.save-btn {
    min-width: 85px;
    background: #0090a5 !important;
    padding: 2px 12px !important;
}

    .save-btn + .btn {
        padding: 2px 12px !important;
    }

.modal-header h4 {
    background: #23b9f6;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    text-align: left;
}

.sub-btn {
    background: #35a005 !important;
    color: white !important;
    border: 0px !important;
}

.rd-btn {
    background: #f54354 !important;
    color: #fff !important;
}

.full-percent {
    width: 100%;
    float: left;
}

.modal-header .close {
    margin-top: -2px;
    color: #fff;
    position: absolute;
    z-index: 999;
    right: 11px;
    top: 7px;
    opacity: 1;
    font-size: 29px;
}

.modal-footer {
    border: 0px !important;
}

.new-form-ui {
    float: left;
    width: 42%;
    margin: 12px 0px;
    height: 25px;
    text-align: left;
}

.modal-footer {
    border: 0px;
}

.new-form-ui input[type="text"] {
    width: 92% !important;
}

.new-form-ui input[type="checkbox"] {
    width: auto !important;
}

.new-form-ui label {
    float: left;
    width: 40%;
    text-align: left;
}

.table-bordered + h4 {
    margin-bottom: 0px;
}

.new-form-ui .division {
    float: left;
    width: 50%;
    text-align: left;
}

.addedexperince .new-form-ui-submit input[type="button"] {
    width: 31%;
}

.new-form-ui-submit input[type="button"] {
    background: #0090a5;
    width: 40%;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin-top: 10px;
    display: block;
    clear: both;
}


.total-form-controller1 {
    padding: 8px;
    float: left;
}

.addEmpPDetail .division input, .division select {
    width: 92%;
    margin-right: 5px;
}

.addEmpPDetail .new-form-ui-submit input[type="button"] {
    width: 31%;
}

.division input, .division select {
    width: 80%;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 3px;
    font-weight: normal;
}

<a href="AddEmpDocumentsDetails.aspx.cs" > AddEmpDocumentsDetails.aspx.cs</a > .division input[type="checkbox"] {
    width: auto;
}

<a href="AddEmpDocumentsDetails.aspx.cs" > AddEmpDocumentsDetails.aspx.cs</a > .division select + a {
    display: block;
    font-weight: normal;
}

.left-block-ui-data ul li {
    line-height: 25px;
}

.left-block-ui-data1 ul li {
    line-height: 25px;
}

.errors {
    color: red;
}

    .errors + a {
        display: block;
    }

.right-block-data {
    background: #f7f7f7;
}

.right-block-data1 {
    float: right;
}

.EPic {
    width: 20px;
    align-content: center;
}

#UserProfileTable {
    float: left;
    width: 400px;
    min-width: 400px;
}

    #UserProfileTable td {
        height: 25px;
        vertical-align: top;
    }

#Edetail tr {
    float: left;
    width: 100%;
    margin: 0 0 6px 0;
    padding-bottom: 7px;
    border-bottom: 1px dashed #b1b1b1;
}

#Edetail td {
    float: left;
    min-width: 140px;
    margin: 0 0 0 10px;
    text-align: left;
    line-height: 24px;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto Regular',sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
    color: #000000;
    width: 10%;
}

.modal {
    margin: 0px 0px;
    background: transparent !important;
    max-width: inherit !important;
    box-shadow: none !important;
    overflow: auto;
}

.CustomPopup {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    overflow: auto;
    display: none;
}

.CustomPopupEdit {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 30px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    overflow: auto;
    display: none;
}

.ad-emp table {
    width: 100%;
}

.modal .modal-dialog {
    margin-top: 50px !important;
}

.CustomPopup .modal-dialog {
    margin-top: 60px !important;
}

.ad-emp select {
    padding: 5px;
    border: 0px;
    font-weight: normal;
    margin-top: 5px;
    width: 91%;
}

.grp-mem select {
    width: 30% !important;
    padding: 5px;
    border: 0px;
    float: right;
    font-weight: normal;
    margin-top: 5px;
}

.lblmanagegroup {
    float: right;
    margin-right: 2%;
    font-weight: bold;
    margin-top: 10px;
}

#groupMemberTable td {
    font-weight: normal;
}

.ad-emp .fa-plus-circle {
    font-size: 30px;
    float: right;
    vertical-align: middle;
    margin-top: 0px;
    color: #f76e1e;
    cursor: pointer;
}

.ad-report .fa-ship {
    font-size: 30px;
    float: right;
    vertical-align: middle;
    margin-top: 5px;
    color: #f76e1e;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px;
}


#Subtextbox2{
    margin-left: 22px;
}

#Subtextbox1{
    margin-left: 1px;
}

.setColor{
    margin-left:2px;
}

.ad-report .fa-snowflake-o {
    font-size: 30px;
    float: right;
    vertical-align: middle;
    margin-top: 5px;
    color: #f76e1e;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px;
}

.fa-times-circle-o {
    color: #ccc;
}

.ad-emp td {
    padding: 16px 10px 0px 10px;
    font-size: 14px !important;
    font-weight: bold;
    vertical-align: top;
}

.tblwidth th {
    width: 25% !important;
}

    .tblwidth th:nth-child(4), .tblwidth td:nth-child(4) {
        text-align: center;
    }

.tblExpectationClass th:nth-child(2), .tblExpectationClass th:nth-child(3) {
    width: 5%;
}

.tblExpectationClass td:nth-child(3) {
    text-align: center;
}

#groupMemberTable th:nth-child(2), #groupMemberTable td:nth-child(2) {
    text-align: center;
}

.ad-emp label {
    margin-top: 4px;
    float: left;
}

.ad-emp td label a {
    font-weight: bold;
}

.add-emp {
    background: #23b9f6;
    text-align: left;
    color: #fff;
    padding: 10px 15px;
    font-weight: 700;
    margin-top: 20px;
}

    .add-emp span {
        vertical-align: middle;
        margin-top: 3px;
        display: inline-block;
    }

    .add-emp img {
        width: 20px;
        margin-right: 10px;
        height: 20px;
    }

.add-ed {
    float: right;
    margin: 0px 15px 0px 0px !important;
    /*text-decoration: underline;*/
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

#TextBoxesGroup .fa {
    font-size: 20px;
    margin-left: 5px;
    float: left;
    margin-top: 3px !important;
    cursor: pointer;
}

#TextBoxesMainGroup .fa {
    font-size: 20px;
    margin-left: 5px;
    float: left;
    margin-top: 15px !important;
    cursor: pointer;
}

#TextBoxesSubGroup .fa {
    font-size: 20px;
    margin-left: 5px;
    float: left;
    margin-top: 3px !important;
    cursor: pointer;
}

.add-ed label {
    font-size: 13px;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 6px;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: underline;
    float: right;
}

#ExpectationTable tr:nth-child(odd) {
    background: #fff !important;
}

#ExpectationTable .fa {
    margin-right: 5px;
    cursor: pointer;
}

#tblEmpDocumentsDetails th, #empSalaryTableForAllEmployee th, #AllEmpFamily th, #ExpirienceGrid th, #empQualificationTable th, #AllEmpQualification th, #AllEmpOfficial th, #designationTable th, #DepartmentTable th, #ExpectationTable th, #groupMemberTable th, #tblTotalGroupName th {
    background: #23b9f6;
    color: #fff;
    width: auto;
}

#tblLightHouseReport th{
    background: #23b9f6;
    color: #fff;
    /*float:left;*/
    width:auto;
}

#tblLightHouseReport th:nth-child(1),#tblLightHouseReport td:nth-child(1){
    width: 13% !important;
    text-align:center;
}

#tblLightHouseReport th:nth-child(2),#tblLightHouseReport td:nth-child(2),#tblLightHouseReport th:nth-child(3),#tblLightHouseReport td:nth-child(3),#tblLightHouseReport th:nth-child(4),#tblLightHouseReport td:nth-child(4),#tblLightHouseReport th:nth-child(5),#tblLightHouseReport td:nth-child(5){
    width: 15% !important;
    text-align:center;
}


#tblPerformanceReport th:nth-child(1){
    width: 5% !important;
}

#tblPerformanceReport th:nth-child(2),#tblPerformanceReport td:nth-child(2){
    width: 14% !important;
    text-align:center;
}

#tblPerformanceReport th:nth-child(3),#tblPerformanceReport td:nth-child(3){
    /*width: 14% !important;*/
    text-align:center;
}

#tblPerformanceReport th:nth-child(6),#tblPerformanceReport td:nth-child(6){
   width: 8% !important;
    text-align:center;
}
#tblPerformanceReport th:nth-child(5),#tblPerformanceReport th:nth-child(7),#tblPerformanceReport th:nth-child(8){
    width: 20% !important;
    text-align:center;
}


#tblPerformanceReport td:nth-child(5),#tblPerformanceReport td:nth-child(7),#tblPerformanceReport td:nth-child(8){
   width: 20% !important;
    text-align:center;
}

#tblPerformanceReport td:nth-child(9){
    text-align:center;
}


#tblRatingReport th{
    background: #01d0da;
    color: black;
    /*float:left;*/
    width:20%;
}
#tblRatingReport td{
vertical-align:bottom;
}

#tblRatingReport tr>td:nth-child(2),#tblRatingReport tr>td:nth-child(3){
text-align:center;
}

.FirstTr{
    background:yellow;
}

#tblRatingReport>thead>tr>th:nth-child(1){
    font-weight:bold;
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    width: 70% !important;
    text-align:center;
}

#tblRatingReport>thead>tr>th:nth-child(2){
    font-weight:bold;
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    width: 22% !important;
    text-align:center;
}

#GOspan{
    text-align:left;
}

#testGoal{
    width:100%;
}

#liGoSmilycounter{
    margin-left:50px;
}

#liGoAngrycounter{
    margin-left:60px;
}

#liGoNudgecounter{
    margin-left:70px;
}

#tblRatingReport>thead>tr>th:nth-child(3){
    font-weight:bold;
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    width: 22% !important;
    text-align:center;
}
#tblRatingReport>thead>tr>td:nth-child(1) {
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    width: 70% !important;
}

#tblRatingReport>thead>tr>td:nth-child(2) {
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    width: 20% !important;
    text-align:center;
}

#tblPerformanceReport th{
    background: #23b9f6;
    color: #fff;
    /*width:auto;*/
    /*width: 20px;*/
    /*float: left;*/
    width: 12.66% !important;
}

#lblAvg{
    margin-top: 4px;
    float: left;
    margin-right: 100px;
    margin-left: 164px;
}

#lblRat{
    margin-top: 30px;
    float: left;
    margin-left: 164px;
}

#txtAvg1,#txtAvg2{
    margin-top: 4px;
    /* float: left; */
    margin-left: -130px;
    margin-right: 140px;
}

#txtRat{
    margin-top: 30px;
    float: left;
    margin-left: 146px;
}

#cntRating1{
    margin-left:20px;
}

#cntRating2{
    margin-left:20px;
}

#lblTotalReport{
    background: #23b9f6;
    color: #fff;
    width: 35%;
    float:left;
    width:auto;
    margin-left: 0px;
}

#lblLight{
    float:right;
    display:block;
    font-size: 18px;
    cursor:pointer;
    margin-top: 7px;
    text-decoration:underline;
    color: #f76e1e;
}

#lblcolor{
    background-color: red;
    display: block;
    width: 100%;
}

#lblPerform{
    float: right;
    display: block;
    font-size: 18px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 7px;
    margin-right: -14px;
    text-decoration:underline;
    color: #f76e1e;
}

.AddColor1{
    /*background: #f76e1e;
    color: #fff !important;
    font-size: 15px;
    padding: 7px;*/
}

.orange-color {
    color: #f76e1e !important;
  
}

.exp-sec img {
    margin-right: 5px;
}

.exp-sec a {
    vertical-align: middle;
    color: #000;
    text-decoration: underline;
}


#ExpectationTable th:nth-child(3) {
    text-align: center;
}

#tblTotalGroupName th:nth-child(1), #tblTotalGroupName th:nth-child(2) {
    width: 40% !important;
}

#tblEmpDocumentsDetails td, #empSalaryTableForAllEmployee td, #AllEmpFamily td, #designationTable td, #DepartmentTable td, #ExpectationTable td, #groupMemberTable td, #tblTotalGroupName td ,#tblLightHouseReport td, #tblPerformanceReport td {
    border-right: solid 1px #ccc;
}

    #tblEmpDocumentsDetails td:nth-child(4) {
        text-align: center;
    }
/*#designationTable th:first-child{width:90%;}*/
#designationTable td {
    text-align: left;
}

#tblEmpDocumentsDetails i, #ExpirienceGrid i, #AllEmpFamily i, #empSalaryTableForAllEmployee i {
    margin-right: 10px;
    cursor: pointer;
}

#ExpirienceGrid i, #empQualificationTable i, #EmpGrid i {
    margin-right: 10px;
}

#AllExpirience tr th, #AllEmpQualification tr th, #AllEmpOfficial tr th, #AllEmpFamily tr th, #empSalaryTableForAllEmployee tr th, #AllEmpDocuments tr th, #AllEmpOfficial tr th, #AllEmpContact tr th {
    background: #23b9f6 !important;
    color: #fff;
    width: auto;
}

#empSalaryTable tr td, #empSalaryTableForAllEmployee tr td {
    border: 0px;
    border-right: 1px solid #ccc;
}

.edit-btn {
    float: right;
    width: 27px;
    margin-top: 13px;
    cursor: pointer;
    text-align: right;
}

.add-ed label a {
    color: #000;
    margin-left: 4px;
    vertical-align: middle;
}

.add-emp span label a {
    color: #fff;
}

#txtJoingDate, #txtLeavingDate {
    background: url(../Images/HRM/images/calender.png) no-repeat;
    background-size: 18px 20px;
    background-position: 96% 2px;
    background-color: #fff;
}

.adddd-mp-offical .new-form-ui-submit input[type="button"] {
    width: 34%;
}

.new-form-ui1 {
    float: left;
    width: 50%;
    margin: 15px 0px;
    height: 50%;
}

    .new-form-ui1 label {
        float: left;
        width: 35%;
        text-align: left;
    }

    .new-form-ui1 .division {
        float: left;
        width: 80%;
        text-align: left;
    }

.new-form-ui1-submit input[type="button"] {
    background: #0090a5;
    width: 65%;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin-top: 10px;
}


.new-form-ui2 {
    float: left;
    width: 50%;
    margin: 8px 0px;
    height: 70px;
}

.fa-plus {
    color: #349f02;
}

#tblTotalGroupName .fa {
    margin-right: 10px;
    cursor: pointer;
}

.fa-pencil-square-o {
    color: #ffc107;
}

.fa-pencil-square-o {
    padding-right: 5px;
}

#tblTotalGroupName td:nth-child(2), #tblTotalGroupName th:nth-child(2), #tblTotalGroupName th:nth-child(3), #tblTotalGroupName td:nth-child(3) {
    text-align: center;
}

#groupMemberTable th:nth-child(1) {
    width: 90%;
}

#groupMemberTable .fa {
    cursor: pointer;
}

.bgwhite {
    background-color: #fff;
}

.new-form-ui2 label {
    float: left;
    width: 45%;
    text-align: left;
}

.new-form-ui2 .division {
    float: left;
    width: 74%;
    text-align: left;
}

.addEducation .new-form-ui2-submit input[type="button"] {
    display: block;
    clear: both;
}

.new-form-ui2-submit input[type="button"] {
    background: #0090a5;
    width: 30%;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin-top: 10px;
}




.new-form-ui3 {
    float: left;
    width: 80%;
    margin: 8px 0px;
    height: 50%;
    text-align: left;
}

    .new-form-ui3 label {
        float: left;
        width: 20%;
        text-align: left;
    }

    .new-form-ui3 .division {
        float: left;
        width: 74%;
        text-align: left;
    }

.new-form-ui3-submit input[type="button"] {
    background: #0090a5;
    width: 30%;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin-top: 10px;
}

.tabel-chng-pass td {
    text-align: left;
}

.left-block-ui-data {
    background: #f7f7f7;
    text-align: left;
    margin-top: 20px;
}

    .left-block-ui-data h3 {
        background: #4f4f4f;
        font-size: 15px;
        color: #fff;
        padding: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

.left-block-ui-data1 {
    background: #f7f7f7;
    text-align: left;
    margin-top: 31px;
}

    .left-block-ui-data1 h3 {
        background: #4f4f4f;
        font-size: 15px;
        color: #fff;
        padding: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

.active-left-nav {
    background: #f76e1e;
    color: #fff !important;
    font-size: 15px;
    padding: 7px;
}

.heading-left-nav {
    background: #0090a5;
    font-size: 15px;
    color: #fff !important;
    padding: 7px;
}

.left-block-ui-data ul {
}

    .left-block-ui-data ul li {
        color: #3c3c3c;
        font-weight: 500;
        cursor: pointer;
        padding: 5px;
    }

.left-block-ui-data1 ul {
}

    .left-block-ui-data1 ul li {
        color: #000;
        font-weight: 500;
        cursor: pointer;
        padding: 4px;
    }

.user-prof-wrap {
    background: #f7f7f7;
    float: left;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}

    .user-prof-wrap ul {
        float: left;
        width: 50%;
        border-right: solid 1px #ccc;
        padding: 10px;
        line-height: 30px;
    }

        .user-prof-wrap ul + ul {
            border-right: 0px;
        }

            .user-prof-wrap ul + ul li {
                width: 88%;
            }

                .user-prof-wrap ul + ul li .fa {
                    font-size: 16px;
                }

                .user-prof-wrap ul + ul li:nth-child(odd) {
                    width: 30px;
                }

        .user-prof-wrap ul li {
            float: left;
            width: 49%;
            text-align: left;
        }

            .user-prof-wrap ul li:nth-child(odd) {
                width: 34%;
            }

#Edetail tr {
    border-bottom: 0px !important;
    margin: 0px;
    padding: 0px;
}

#UserProfileTable tr td table tr td {
    width: 23%;
}

    #UserProfileTable tr td table tr td:nth-child(0n+2) {
        border-right: solid 1px #000;
    }

#empOfficialTable tr td:nth-child(0n+2),
#empMainContactTable tr td:nth-child(0n+2), #empPermanentContactTable tr td:nth-child(0n+2), #empPresentContactTable tr td:nth-child(0n+2), #empEmergencyContactTable tr td:nth-child(0n+2) {
    border-right: solid 1px #ccc !important;
    font-weight: bold;
    width: 34%;
}

#empOfficialTable tr td:last-child,
#empMainContactTable tr td:last-child, #empPermanentContactTable tr td:last-child, #empPresentContactTable tr td:last-child, #empEmergencyContactTable tr td:last-child {
    font-weight: bold;
}

#empOfficialTable tr td:nth-child(odd), #empMainContactTable tr td:nth-child(odd), #empPermanentContactTable tr td:nth-child(odd), #empPresentContactTable tr td:nth-child(odd), #empEmergencyContactTable tr td:nth-child(odd) {
    width: 14%;
}

.img-space {
    border: solid 1px #ccc;
}

#empOfficialTable, #empMainContactTable, #empPermanentContactTable, #empPresentContactTable, #empEmergencyContactTable {
    margin-top: 20px;
    width: 100%;
    float: left;
}

.backclass {
    font-size: 40px;
    color: #2791d3;
    vertical-align: middle;
    margin-right: 10px;
}

.fa-trash-o {
    color: red;
}

#empOfficialTable tr:nth-child(even), #empSalaryTable tr:nth-child(even), #empSalaryTableForAllEmployee tr:nth-child(even), #empPersonalTable tr:nth-child(even), #Expirience tr:nth-child(even), #FamilyDetails tr:nth-child(even), #empQualificationTable tr:nth-child(even), #AllEmpQualification tr:nth-child(even), #AllEmpOfficial tr:nth-child(even), #empMainContactTable tr:nth-child(even), #empPermanentContactTable tr:nth-child(even), #empPresentContactTable tr:nth-child(even), #empEmergencyContactTable tr:nth-child(even) {
    background: #f7f7f7;
}

.TablWrapDesig {
    text-align: left;
}

    .TablWrapDesig h1 {
        float: left;
        font-size: 20px;
        margin: 15px 0px;
    }

    .TablWrapDesig .add-ed {
        margin-top: 15px;
    }

#tblEmpDocumentsDetails tr:nth-child(even), #empSalaryTableForAllEmployee tr:nth-child(even), #AllEmpFamily tr:nth-child(even), #designationTable tr:nth-child(even), #ExpirienceGrid tr:nth-child(even), #AllEmpFamily tr:nth-child(even) {
    background: #f7f7f7;
}

#designationTable i {
    margin-right: 10px;
}

#Expirience tr th {
    background: #4f4f4f;
    color: #fff;
    width: auto;
}

.exp-sec {
    float: right;
    padding: 10px;
}

#FamilyDetails tr th {
    background: #4f4f4f;
    color: #fff;
    width: auto;
}

#tblEmpDocumentsDetails tr:nth-child(even), #empSalaryTableForAllEmployee tr:nth-child(even), #AllEmpFamily tr:nth-child(even), #ExpirienceGrid tr:nth-child(even), #designationTable tr:nth-child(even), #DepartmentTable tr:nth-child(even), #ExpectationTable tr:nth-child(even), #groupMemberTable tr:nth-child(even), #tblTotalGroupName tr:nth-child(even) {
    background: #f7f7f7;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border: 0px;
}

.edit-circle {
    border-radius: 50%;
    cursor: pointer;
    background: #3c3c3c;
    width: 30px;
    height: 30px;
    float: right;
    color: #fff;
    position: relative;
}

#empPersonalTable {
    margin-top: 20px;
}

.edit-circle .fa {
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.app-radio td {
    padding-top: 2px !important;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 0px !important;
}

.persnol-hrm #EditRecord_Btn {
    float: right;
    margin: 12px 0px;
    font-size: 20px;
}

.ad-emp .new-form-ui {
    height: 50px;
    width: 50%;
}

    .ad-emp .new-form-ui label {
        width: 33%;
    }

.persnol-hrm #EditRecord_Btn label {
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
    font-family: 'Lato', sans-serif !important;
    font-weight: 500;
    vertical-align: middle;
    margin-top: -3px;
}

.right-block-data {
    margin-top: 31px;
}

.checkbox-inline{
        margin-right: 50px;
    float: right;
}
.popupViewEmpDocument .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

.popupViewEmpDocument .modal-dialog {
    height: 80vh;
}

.Update td {
    width: 50%;
}

.popupViewEmpDocument .modal-header h4 {
    text-align: left;
}

.EmpDocumentUl ul li:nth-child(1) {
    width: 30%;
    text-align: left;
    float: left;
}

.EmpDocumentUl ul li {
    width: 70%;
    float: left;
    text-align: left;
    line-height: 30px;
}

    .EmpDocumentUl ul li:nth-child(4) {
        width: 100%;
        clear: both;
        display: block;
    }

    .EmpDocumentUl ul li:nth-child(6) {
        text-align: right;
        width: 100%;
        margin: 20px 0px;
    }

    .EmpDocumentUl ul li:nth-child(1) img {
        width: 90px;
    }

#AddClient span {
    display: block;
    clear: both;
    font-size: 17px;
}

#empPersonalTable td:nth-child(even) {
    font-weight: bold;
}

#AddClient input {
    width: 100%;
    height: 30px;
}

#AddClient #fluUploadEmpDocument {
    margin-top: 15px;
    width: 100% !important;
    height: auto;
}

.ViewSalaryDetail td {
    padding: 10px;
}

#EditContactDetail {
    overflow: auto !important;
}

#EditContactDetai td {
    padding: 10px;
}

#AddClient td {
    padding: 10px;
}

#Update table {
    width: 100%;
}

#Update span {
    display: block;
    font-size: 16px;
    font-weight: bold !important;
}

.btn-default {
    color: #fff !important;
    background-color: #0090a5 !important;
    border-color: #fff !important;
}

#QAddClient table {
    width: 100%;
}

#EditTable td {
    margin-bottom: 20px;
}

#EditTable {
    width: 100%;
}

    #EditTable input[type=text] {
        width: 100%;
    }

.tblpop td {
    font-weight: bold;
}

    .tblpop td input {
        font-weight: normal;
    }

#divPriority {
    text-align: left;
    padding-left: 110px;
    clear: both;
    display: block;
}

#divEdtPriority {
    text-align: left;
    padding-left: 110px;
    clear: both;
    display: block;
}

.tblmemberspecific label {
    margin-right: 5px;
}

.tblmemberspecific a {
    float: left;
    margin-top: 17px;
}

.grp-mem a {
    margin-top: 10px;
    float: left;
    margin-left: 2px;
}

    .grp-mem a + a {
        margin-top: 7px;
    }

#Edit {
    cursor: pointer;
}

#divEdtPriority input[type="radio"], #divPriority input[type="radio"] {
    float: left;
    margin-top: 12px;
}

#TextBoxDiv1 {
    text-align: left;
}

.tblAddExpectation {
    padding: 0px !important;
    margin: 0px 10px 10px 10px !important;
}

#lblHigh, #lblEdtHigh {
    margin-right: 45px;
    width: 28%;
}

.modal-goal {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-top:-70px;
}

#btnSubmitExpectation{
    height: 32px;
    width: 70px;
    margin-right: 0px;
    -webkit-appearance: button;
    cursor: pointer;
}

#btnCancelExpectation{
    height: 32px;
    width: 70px;
    margin-right: 8px;
    -webkit-appearance: button;
    cursor: pointer;
}

#lblLow, #lblEdtLow {
    margin-right: -21px;
    width: 22%;
}

#rdoLow{

}

#lblGoal, #lblEdtGoal {
    margin-right: -40px;
    width: 25%;
}

.modal-content-width {
    xxxmax-width: 400px;
}

    .modal-content-width input[type=text] {
        width: 79% !important;
        float: left;
        height:31px;
        margin-top:10px;
    }

 #subHeading {
    width: 79% !important;
    float: left;
    border: groove;
    margin-top: 10px;
}

 #subEdHeading {
    width: 79% !important;
    float: left;
    border: groove;
    margin-top: 10px;
}


 #addHeading {
    width: 62% !important;
    float: left;
    border: groove;
    height: 26px;
    margin-top: 10px;
    margin-left: 25px;
    padding-top: 0px;
}

#TextBoxesGroup span, #TextBoxesGroup input[type="text"] {
    float: left;
    font-size: 14px;
}

#TextBoxesMainGroup span {
    float: left;
    font-size: 14px;
    margin-top: 10px;
}

#TextBoxesSubGroup span, #TextBoxesSubGroup input[type="text"] {
    float: left;
    font-size: 14px;
}

#btnCancelIncidentSubGroup,#btnCancelIncidentGroup{
    width:70px;
}

#btnSaveIncidentSubGroup,#btnSaveIncidentGroup{
     width:70px;
}

#TextBoxesGroup {
    float: left;
    width: 100%;
    padding-top: 10px;
}

#TextBoxesMainGroup,#TextBoxesSubGroup {
    float: left;
    width: 100%;
    padding-top: 10px;
}

.fa-user-o {
    cursor: pointer;
}

.ad-emp a label {
    cursor: pointer;
}

#txtDescription, #txtEDTDescription {
    height: 99px;
    width: 79%;
    /*margin-top:1%;*/
}

.txtarea label, .full-width-left label {
    margin-right: 5px;
}

.comHeading {
    text-align: left !important;
    margin: 4px 0px 15px 2px !important;
    /* margin-bottom: 20px; */
    float: left;
    width: 100%;
}


.txtexpect {
    text-align: left !important;
    margin: 4px 0px 15px 2px !important;
    /* margin-bottom: 20px; */
    float: left;
    width: 100%;
}

.txtarea {
    text-align: left !important;
    margin: 4px 0px 15px 2px !important;
    /* margin-bottom: 20px; */
    float: left;
    width: 100%;
}

#MainBox select option {
    color: #23b9f6;
}

#tblEmpDocumentsDetails th, #ExpirienceGrid th, #AllEmpFamily th, #empSalaryTableForAllEmployee th {
    width: 25%;
}

.divgroup {
    display: block;
    clear: both;
    
}

.divLight{
    display: block;
    clear: both;
    margin-left: -35px;
}

.txtarea label {
    vertical-align: top;
}

.full-width-left {
    float: left;
    width: 100%;
}

#LightTable th {
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #939693;
    color: white;
}

.incident-strip {
    background: #23b9f6;
    padding: 8px;
    color: #fff;
    float: left;
    width: 100%;
    margin-top: 20px;
}

    .incident-strip label {
        float: left;
        margin: 0px;
    }

    .incident-strip span {
        float: right;
        margin-top: 2px;
    }

    .incident-strip select {
        border: 0px;
        outline: 0px;
        background: none;
        width: 180px;
    }

.incident .box {
    background: #f7f7f7;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.heading h3 {
    color: #1593c8;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    float: left;
}

.box ul:last-child {
    margin-bottom: 15px;
}

.heading span {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.box ul li {
    list-style: none;
    float: left;
    width: 4%;
    text-align: left;
    color: #5b5b5b;
}

.box ul {
    margin: 0px;
    padding: 0px;
    margin-bottom: 6px;
}

    .box ul li span {
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 50%;
        background: #3c3c3c;
        position: relative;
        padding: 10px;
    }

        .box ul li span .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            -webkit-transform: translate(-50%,-50%);
            text-decoration: none;
        }

.incident .box h3 {
    color: #35a005;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0px;
    font-style: italic;
    text-decoration: underline;
}

.good-tohave-color {
    color: #f77d3a !important;
    font-style: italic;
    text-decoration: underline;
}

.green-color {
    color: #38b948;
}

.red-color {
    color: #f54354;
}

#MainBox p {
    text-align: left;
    margin-top: 10px;
    display: inline-block;
    text-align: left;
    float: left;
    color: #f42a2b;
}

.incbluebg1 {
    background: #9d9d9d !important;
    cursor: default;
    margin-left:20px;
}

.Subclass {
   float:left;
   font-weight:bold;
   margin-bottom: 10px;
   margin-top: 5px;
   margin-left: 10px;
   text-decoration: underline;
}

#Subdiv{
   float:left;
   font-weight:bold;
   margin-bottom: 10px;
   margin-top: 5px;
}

#SubDivSize{
    width:85%;
}

hr { margin-top: 24px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000; }

.incbluebg {
    cursor: pointer;
    margin-left: 20px;
}

.divdoc label {
    margin-top: 2px !important;
}

.rad input[type="radio"] {
    height: auto !important;
    float: left;
    width: auto !important;
    vertical-align: middle;
    margin-top: 8px;
}

.rad span {
    float: left;
    clear: none !important;
}

.incbluebg {
    background: #f76e1e !important;
}

.box ul li:first-child {
    width: 75%;
    word-wrap: break-word;
}

.box ul li img {
    width: 20px;
}

.box ul {
    float: left;
    width: 100%;
}

#ddlIncidentReporting option {
    color: #000;
    background: #fff;
}

#miscellaneouscomments li {
    width: 100% !important;
}

#ddlMemberName option {
    color: #000;
    background: #fff;
}

.new-form-ui input[type="radio"] {
    margin-right: 5px;
    vertical-align: top;
    width: auto !important;
}

.division table {
    width: 100%;
}
#imgLightHouse:hover {
    color:#fff;
    background-color:#000;
}
.addmiscpop label {
    vertical-align: top;
}

.miscbodyContent tr td {
    line-height: 30px;
}

    .miscbodyContent tr td input[type="radio"] {
        margin-left: 15px;
        vertical-align: middle;
        margin-right: 2px;
        margin-top: 0px;
    }

    .miscbodyContent tr td span {
        padding-left: 60px;
        font-size: inherit;
        font-weight: normal;
        margin-top: 0px;
    }

    #rbtappriciation,#rbtreport {
          margin-left:20px;
    }
.miscbodyContent textarea {
    height: 70px;
    resize: none;
    width: 87%;
    border: 0px;
    outline: solid 1px #ccc;
}

.miscbodyContent table {
    width: 100%;
}

.miscbodyContent .modelfclass {
    /*padding-bottom:0px !important;*/
}

.heading .fa {
    margin-right: 5px;
}

/*.agency-ui ul li:nth-child(1) {
    font-weight: bold;
}*/

.spnRadio input[type="radio"] {
    font-weight: normal;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    float: left;
    margin-top: 0 !important;
    padding: 0 !important;
    vertical-align: middle;
    width: auto !important;
}

.spnRadio span {
    float: left;
    display: inline-block !important;
    clear: none !important;
    margin: 2px 15px 0px 0px !important;
}

.clsrf input[type="text"] {
    margin-bottom: 0px !important;
}

.clsrf span {
    font-size: 13px !important;
}

.clsViewEmpContactrf textarea {
    width: 100% !important;
}

.clsViewEmpContactrf select {
    padding: 3px;
}

@media only screen and (max-width: 920px) and (min-width: 320px) {
    .addEmpPDetail .division input, .division select {
        width: 80%;
    }

    .new-form-ui input[type="text"] {
        width: 80% !important;
    }

    .ad-emp .new-form-ui {
        width: 100%;
    }

    .adddd-mp-offical .new-form-ui-submit input[type="button"] {
        width: 34%;
        margin: auto;
        display: inline-block;
        float: none;
    }

    .left-block-ui-data {
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 990px) and (min-width: 320px) {
    .total-form-controller {
        padding: 20px;
    }

    .ad-emp .new-form-ui {
        width: 100%;
    }

    .adddd-mp-offical .new-form-ui-submit input[type="button"] {
        width: 34%;
        margin: auto;
        display: inline-block;
        float: none;
    }

    .left-block-ui-data {
        padding: 0px 15px;
    }
}

.clsAngery {
    transform: rotate(180deg);
}

#divDownload a {
    background: #3a8ed9;
    padding: 6px 20px;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
}

#divDownload input[type="button"] {
    background: #3a8ed9;
    border: 0px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 4px;
}

#divDownload span {
    padding: 0px;
}

#edit-tt-incid input[type="text"] {
    width: 100% !important;
    float: left !important;
}

#edit-tt-incid li {
    width: 100% !important;
}



.box i, img, #Smilycounter, #AngryCounter,#TrackCounter {
    text-decoration: underline;
    cursor: pointer;
}

#cmt {
    width: 100%;
    float: left;
}

    #cmt th:nth-child(1), #cmt th:nth-child(2), #cmt th:nth-child(4) {
        width: 20%;
    }

    #cmt th {
        border: 0px !important;
        background: #23b9f6;
        padding: 5px;
        color: #fff;
    }

.clscls {
    transform: rotate(180deg);
}

#cmt td:nth-child(3), th:nth-child(3) {
    width: 70%;
    text-align: left;
}

#cmt td:first-child, th:first-child {
}

#cmt td {
    word-wrap: break-word;
    padding: 5px 10px;
}

.tcmt {
    width: 100%;
    float: left;
}

    .tcmt th:nth-child(1), .tcmt th:nth-child(2), .tcmt th:nth-child(4) {
        width: 20%;
    }

    .tcmt th {
        border: 0px !important;
        background: #23b9f6;
        padding: 5px;
        color: #fff;
    }

.clscls {
    transform: rotate(180deg);
}

.tcmt td:nth-child(3), th:nth-child(3) {
    width: 70%;
    text-align: left;
}

.tcmt td:first-child, th:first-child {
}

.tcmt td {
    word-wrap: break-word;
    padding: 5px 10px;
}

.Main li:nth-child(3) {
    text-align: left !important;
}

.tblscroll {
    height: 500px;
    float: left;
    overflow: hidden;
    overflow-y: scroll;
    width: 600px;
}

.ad-emp .fa-plus-circle:active {
    color: #2b838e;
}

.tblAddExpectation label {
    width: 108px;
}

.tblAddExpectation input[type="radio"] {
    margin-top: 8px !important;
    margin-right: 5px;
}

#tooltip {
    position: fixed;
    background: white;
    color: black;
    padding: 5px 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    top: 50%;
    left: 20%;
    z-index: 9999999;
    max-width: 250px;
    transform: translateY(-50%);
    text-align: left;
}

/*#tooltip::after {
    content: "";
    border-width: 7px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform:translateX(-50%);
}*/


.box ul li:first-child {
    width: 3.5%;
}

.box ul li:nth-child(2) {
    width: 65%;
    margin-left:10px;
}

.fafaHandsUp{
    color: #23b9f6;
    font-size: 18px;
}

.fafaThumsUp{
    color: green;
    font-size: 18px;
}

.fafaThumsDown{
    color: #f54354;
    font-size: 18px;
}

.fafaBell{
    color:#f76e1e;
    font-size:18px;
}

.box ul li:nth-child(3), .box ul li:nth-child(5), .box ul li:nth-child(7), .box ul li:nth-child(9) {
    text-align: center;
    width: 3%;
}

#divMsg h3 {
    float: left;
}

#MainBox .heading {
    margin-top: 8px;
}

#divMsg select {
    width: 180px;
    float: left;
    margin: 25px;
    border: solid 1px #23b9f6;
    color: #23b9f6;
}

    #divMsg select option {
        color: #000;
    }

#divMsg1 select {
    width: 180px;
    float: left;
    margin: 25px;
    border: solid 1px #23b9f6;
    color: #23b9f6;
}

    #divMsg1 select option {
        color: #000;
    }

#MainBox select {
    width: 180px;
    float: left;
    border: solid 1px #23b9f6;
    color: #23b9f6;
}

#divMsg {
    margin-top: 7px;
}

#miscellaneouscomments {
    max-height: 300px;
    overflow-y: scroll;
}

    #miscellaneouscomments .Head {
        color: white !important;
        background-color: #23b9f6;
        font-size: 14px;
        padding: 7px;
        color: #fff !important;
        margin-left: -5px;
    }

        #miscellaneouscomments .Head li {
            color: #fff !important;
        }

    #miscellaneouscomments ul li:nth-child(3) {
        width: 60% !important;
    }

    #miscellaneouscomments ul li {
        width: 15% !important;
        margin-left: 5px;
    }

    #miscellaneouscomments .Main:nth-child(2n+1) {
        background-color: #e5e6e6;
    }

@media only screen and (max-width: 500px) {
    td {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

.Strike {
    text-decoration: line-through;
}

#lblCommonMaster {
    font-size: 16px !important;
    color: #fff;
}

.user-prof-wrap {
    background: #f7f7f7;
    float: left;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}

    .user-prof-wrap ul {
        float: left;
        width: 50%;
        border-right: solid 1px #ccc;
        padding: 10px;
        line-height: 30px;
    }

        .user-prof-wrap ul + ul {
            border-right: 0px;
        }

            .user-prof-wrap ul + ul li {
                width: 88%;
            }

                .user-prof-wrap ul + ul li .fa {
                    font-size: 16px;
                }

                .user-prof-wrap ul + ul li:nth-child(odd) {
                    width: 30px;
                }

        .user-prof-wrap ul li {
            float: left;
            width: 49%;
            text-align: left;
        }

            .user-prof-wrap ul li:nth-child(odd) {
                width: 34%;
            }

#Edetail tr {
    border-bottom: 0px !important;
    margin: 0px;
    padding: 0px;
}

#UserProfileTable tr td table tr td {
    width: 23%;
}

    #UserProfileTable tr td table tr td:nth-child(0n+2) {
        border-right: solid 1px #000;
    }

#empOfficialTable tr td:nth-child(0n+2) {
    border-right: solid 1px #ccc;
    font-weight: bold;
}

#empOfficialTable tr td:nth-child(odd) {
    width: 14%;
}

.img-space {
    border: solid 1px #ccc;
}

#empOfficialTable {
    margin-top: 20px;
    width: 100%;
    float: left;
}

    #empOfficialTable tr:nth-child(even) {
        background: #f7f7f7;
    }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border: 0px;
}

.edit-circle {
    border-radius: 50%;
    cursor: pointer;
    background: #3c3c3c;
    width: 30px;
    height: 30px;
    float: right;
    color: #fff;
    position: relative;
}

    .edit-circle .fa {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }

.errorss {
    color: red;
}
