﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link href="~/MainCSS/jquery-jvectormap-2.0.5.css" rel="stylesheet" />
    <style>
        .jvectormap-tip {
            padding: 0;
        }

        .multi-select-container {
            display: inline-block;
            position: relative;
        }

        .multi-select-menu {
            position: absolute;
            left: 0;
            top: 0.8em;
            float: left;
            min-width: 100%;
            background: #fff;
            margin: 1em 0;
            padding: 0.4em 0;
            border: 1px solid #aaa;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            display: none;
        }

            .multi-select-menu input {
                margin-right: 0.3em;
                vertical-align: 0.1em;
            }

        .multi-select-button {
            display: inline-block;
            font-size: 0.875em;
            padding: 0.2em 0.6em;
            max-width: 20em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: -0.5em;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            cursor: default;
        }

            .multi-select-button:after {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0.4em 0.4em 0 0.4em;
                border-color: #999 transparent transparent transparent;
                margin-left: 0.4em;
                vertical-align: 0.1em;
            }

        .multi-select-container--open .multi-select-menu {
            display: block;
        }

        .multi-select-container--open .multi-select-button:after {
            border-width: 0 0.4em 0.4em 0.4em;
            border-color: transparent transparent #999 transparent;
        }
    </style>
}

<h4 class="c-grey-900 mB-10">Welcome Dashboard</h4>
<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-12">
        <div class="bd bgc-white">
            <div class="layers">
                <div class="layer w-100">
                    <h4 class="c-grey-900 mL-20 mT-5">Dashboard</h4>
                    <hr class="mT-5 mB-5" />
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0 pB-0' style="width:100%;">
                        <div class="collapse navbar-collapse justify-content-md-end">
                            <input type="button" id="btnStartInProgress" class="btn btn-primary" style="float:right;" value="Start" />
                        </div>
                    </div>
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0' style="width:100%;">
                        <div class="collapse navbar-collapse">
                            <div class="ai-c" style="width:50%;">
                                <div style=" float: left; margin-right: 20px; ">Last Downloaded</div>
                                <b><div id="txtDwnldDate" class="ac-c mL-10"> NA</div></b>
                            </div>
                            @*<div class="" style="width:50%;">
                                    <span style="float:right;">Monitoring <a href="javascript:void(0)"><span id="spnAllKeyword" class="spnAllKeyword">0</span> keywords </a>in <a href="javascript:void(0)"><span id="spnAllGroups" class="spnAllGroups">0</span> bussines groups</a></span>
                                </div>*@
                        </div>
                    </div>
                    <hr class="mT-5 mB-5" />
                    <div class='navbar navbar-expand-lg navbar-light bg-white rounded pT-0' style="width:100%;">
                        <div class="collapse navbar-collapse">
                            <div class="" style="width:60%;">
                                <span style="float:left;">
                                    <label style=" float: left; margin-right: 10px; margin-top: 4px; ">Group :</label>
                                    @Html.DropDownList("Group", new SelectList(ViewBag.AllGroups, "Value", "Text"), null, new { @id = "ddlBussinessGroup", @class = "form-control", @style = " width: 250px !important; ", @multiple = "multiple" })

                                </span>
                                <span class="mL-10" style="float:left;">
                                    <label style=" float: left; margin-right: 10px; margin-top: 4px; ">Keyword :</label>
                                    <select id="ddlGroupKeywords" class="form-control" style=" width: 250px !important;" multiple></select>
                                </span>
                            </div>
                            <div class="" style="width: 40%;">
                                <div class="">
                                    <div class="peers ai-c gap-10">
                                        <div class="mR-10" style="float: right;">
                                            Select Date
                                        </div>
                                        <div class="peer" style="">
                                            <div id="reportrange" style="background: #fff;color:#000000; cursor: pointer;padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                                <i class="fa fa-calendar"></i>&nbsp;
                                                <span>May 6, 2020 - May 6, 2020</span> <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mT-5 mB-5" />
                    <div id="divPage1" class='container-fluid'>
                        <div class='container' style="width:100%;">
                            <div style="text-align:center;">
                                <h5><u>Order and seller's markers in world map</u></h5>
                            </div>
                            <div id="divWorldMap" style="width: 1000px;height: 556px;margin-left: auto;margin-right: auto;">
                            </div>
                        </div>
                        <hr />
                        <div class='container' style="width:100%;">
                            <div class="row">
                                <div class="col-md-6 mT-10">
                                    <div class="card mb-6 box-shadow">
                                        <div class="card-body p-10">
                                            <h5>New Seller<a href="javascript:void(0)"><i class="fa fa-window-maximize" style="float:right;margin:6px;" id="btnViewNewSeller" aria-hidden="true"></i></a><label style="float: right;">Total: 0</label></h5>
                                            <hr class="mB-10" style="margin:0;" />
                                            <canvas id="NewSellerChart" height="220" class="chartjs-render-monitor"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mT-10">
                                    <div class="card mb-6 box-shadow">
                                        <div class="card-body p-10">
                                            <h5>New Gigs<a href="javascript:void(0)"><i class="fa fa-window-maximize" style="float:right;margin:6px;" id="btnViewNewGigs" aria-hidden="true"></i></a><label style="float: right;">Total: 0</label></h5>
                                            <hr class="mB-10" style="margin:0;" />
                                            <canvas id="NewGigsChart" height="220" class="chartjs-render-monitor"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mT-10">
                                    <div class="card mb-6 box-shadow">
                                        <div class="card-body p-10">
                                            <h5>Order Completed<a href="javascript:void(0)"><i class="fa fa-window-maximize" style="float:right;margin:6px;" id="btnViewNewOrder" aria-hidden="true"></i></a><label style="float: right;">Total: 0</label></h5>
                                            <hr class="mB-10" style="margin:0;" />
                                            <canvas id="NewOrderChart" height="220" class="chartjs-render-monitor"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mT-10">
                                    <div class="card mb-6 box-shadow">
                                        <div class="card-body p-10">
                                            <h5>Removed Seller<a href="javascript:void(0)"><i class="fa fa-window-maximize" style="float:right;margin:6px;" id="btnViewRemovedSeller" aria-hidden="true"></i></a><label style="float: right;">Total: 0</label></h5>
                                            <hr class="mB-10" style="margin:0;" />
                                            <canvas id="RemovedSellerChart" height="220" class="chartjs-render-monitor"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mT-10">
                                    <div class="card mb-6 box-shadow">
                                        <div class="card-body p-10">
                                            <h5>Remvoed Gigs<a href="javascript:void(0)"><i class="fa fa-window-maximize" style="float:right;margin:6px;" id="btnViewRemovedGig" aria-hidden="true"></i></a><label style="float: right;">Total: 0</label></h5>
                                            <hr class="mB-10" style="margin:0;" />
                                            <canvas id="RemovedGigsChart" height="220" class="chartjs-render-monitor"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mB-5" />
                        <div class='container' style="width:100%;">
                            @*<div class="collapse navbar-collapse justify-content-md-end">
                                    <button class="btn btn-primary" id="btnPage2">Page 2 <i class="ti-arrow-circle-right"></i></button>
                                </div>*@

                            <div style="text-align:center;">
                                <h5><u>Change Detected</u></h5>
                            </div>
                            <div id="divChangeDetectedChart" style="width: 1000px;height: 556px;margin-left: auto;margin-right: auto;">
                                <canvas id="ChangesDetectedChart" width="900" height="450" class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*change detected details pop up*@
<div class="modal fade" id="changeDetectedDetailsPopup" tabindex="-1" role="dialog" aria-labelledby="changeDetectedDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeDetectedDetailsLabel">Details: <b></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tblChangeDetails" class="table  table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Keyword Name</th>
                            <th>Gig Id</th>
                            <th>Date</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*new seller pop up*@
<div class="modal fade" id="viewNewSellerPopup" tabindex="-1" role="dialog" aria-labelledby="viewNewSellerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 90%;max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewNewSellerLabel">New Seller</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tblNewSeller" class="table  table-striped table-bordered">
                    <thead>
                        <tr><th>Date</th><th>KeywordName</th><th>GigID</th><th>SellerName</th><th>Title</th><th>SellerFrom</th><th>SellerMemberSince</th><th>AverageResponseTime</th><th>SellerLevel</th></tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@*new Gig pop up*@
<div class="modal fade" id="viewNewGigPopup" tabindex="-1" role="dialog" aria-labelledby="viewNewGigLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 90%;max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewNewGigLabel">New Gig</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tblNewGig" class="table  table-striped table-bordered">
                    <thead>
                        <tr><th>Date</th><th>KeywordName</th><th>GigID</th><th>Title</th><th>SellerName</th><th>StartingPrice</th><th>Tool</th></tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@*new Order pop up*@
<div class="modal fade" id="viewNewOrderPopup" tabindex="-1" role="dialog" aria-labelledby="viewNewOrderLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 65%;max-width: 65%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewNewOrderLabel">Order Completed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tblNewOrder" class="table  table-striped table-bordered">
                    <thead>
                        <tr><th>Date</th><th>KeywordName</th><th>GigID</th><th>CustomerName</th><th>CustomerFrom</th><th>ReviewRating</th></tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@*removed seller pop up*@
<div class="modal fade" id="viewRemovedSellerPopup" tabindex="-1" role="dialog" aria-labelledby="viewRemovedSellerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 90%;max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewRemovedSellerLabel">Removed Seller</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tblRemovedSeller" class="table  table-striped table-bordered">
                    <thead>
                        <tr><th>Date</th><th>KeywordName</th><th>GigID</th><th>SellerName</th><th>Title</th><th>SellerFrom</th></tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*removed Gig pop up*@
<div class="modal fade" id="viewRemovedGigPopup" tabindex="-1" role="dialog" aria-labelledby="viewRemovedGigLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 60%;max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewRemovedGigLabel">Removed Gig</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tblRemovedGig" class="table  table-striped table-bordered">
                    <thead>
                        <tr><th>Date</th><th>KeywordName</th><th>GigID</th></tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="hdnKeywordIds" value="@httpContextAccessor.HttpContext.Session.GetString("KeywordIds")" />
<input type="hidden" id="hdnIsKeywordRunning" value="@httpContextAccessor.HttpContext.Session.GetString("isKeywordRunning")" />
<input type="hidden" id="hdnIsKeywordCompleted" value="@httpContextAccessor.HttpContext.Session.GetString("isKeywordCompleted")" />

@section scripts{
    <script src="~/MainJs/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="~/MainJs/jquery-jvectormap-world-mill.js"></script>

    <script src="~/MainJs/CountriesLangLat.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/MainJs/Dashboard.js"></script>
    <script type="text/javascript">
        //setTimeout(function () {
        //    $('#loader').modal('hide');
        //}, 10000);
    </script>
    <script>
        $('#btnPage1').on('click', function () {
            $('#divPage2').hide();
            $('#divPage1').show();
            document.scrollingElement.scrollTop = 0;
            $('#ddlBussinessGroup').trigger('change');
        });
        $('#btnPage2').on('click', function () {
            $('#divPage1').hide();
            $('#divPage2').show();
            document.scrollingElement.scrollTop = 0;
        });
    </script>
}